[2015-07-17 14:11] gjlawran opened #11 "Popular count is displaying total views instead of recent views."
The flames icon is displaying for any dataset with more than 10 views since launch - it is supposed to just display packages with more than 10 recent views. Where recent is defined as 14 days. CITZEDC-662

[2015-07-17 22:17] ll911 opened #13 "add additional resource format for gml, gft, arcgis_rest"

[2015-09-01 20:25] #11 closed

[2015-09-24 19:18] #13 closed

[2015-12-11 00:48] ll911 opened #37 "handle mixed content"
opt1: force all https
opt2: force https only for logged in users.

[2015-12-24 00:37] ll911 opened #41 "setup CI between GH and CAD"

[2015-12-24 00:37] ll911 commented on #41
SCMRQ-478

[2015-12-24 00:39] #41 closed

[2015-12-24 00:39] ll911 commented on #41
completed.

[2015-12-24 00:40] ll911 commented on #41
also added BUILD status [![Build Status](https://sandbox1.apis.gov.bc.ca/cis/job/bcdc-dlv/badge/icon)](https://sandbox1.apis.gov.bc.ca/cis/job/bcdc-dlv/)

[2016-01-27 00:58] ll911 opened #49 "add license badge"

[2016-01-27 00:59] #49 closed

[2016-01-27 01:02] ll911 commented on #37
opt2

[2016-01-27 23:34] gjlawran opened #50 "Remove hyperlinks to dataset type icons, sectors and resource formats to improve UX"
As a user I find the hyperlinks presented for each dataset in the datasets list / search pages ( http://catalogue.data.gov.bc.ca/dataset  and http://catalogue.data.gov.bc.ca/organization/[orgname])  inconsistent and confusing.

1) When I click on a Dataset Type Icon,  I am adding  that as a facet filter to what I have filtered,
2) When I click on the sector name (e.g. "Natural Resources") I am app

[2016-02-04 01:16] gjlawran opened #51 "Hyperlink from custodial agency of dataset record should reference organization"
As a user, when I am viewing a dataset record and I select the hyperlink for the custodial agency (Published by the ...) I would like to be able to see a list of their datasets and have the opportunity to learn more about the publishing organization. The existing custodial agency hyperlink on the dataset page takes the user to the search page and adds a facet for the organization (e.g. http://cata

[2016-02-05 15:56] gjlawran opened #52 "Parent organization cannot be determined from child organization"
As a user, when I am viewing a child organization page  (e.g.  http://catalogue.data.gov.bc.ca/organization/enterprise-data-services )  I would like to be able to see the parent organization name and have a hyperlink to it, so that I know the context of the child organization and can quickly access the parent records.

Some example CKAN templates that implement the hierarchy extension include:

-

[2016-02-10 21:00] ll911 opened #54 "CITZEDC-808"
CITZEDC-808

[2016-02-11 19:49] ll911 commented on #54
fixed by #55

[2016-02-11 19:49] #54 closed

[2016-02-17 18:08] kfishwick opened #57 "test"

[2016-02-17 18:09] #57 closed

[2016-02-19 18:01] #51 closed

[2016-02-19 18:55] kfishwick commented on #50
Delivered to cad.

[2016-02-19 18:55] #50 closed

[2016-04-28 17:01] ll911 opened #73 "ckan-2.3.4 patching"

[2016-04-28 17:02] ll911 commented on #73
@gjlawran  @kfishwick @Mbrownshoes completed as CITZEDC-842

[2016-04-28 17:02] #73 closed

[2016-05-09 20:39] gjlawran opened #75 "Improve email notification regarding record state changes"
Sometimes users added to an organization with an editor role are confused when  they receive email notification messages from the application on record state changes. It would help editors and system administrators if the messages were more explicit.

Existing message Sample:

A new message with the following form should be prepared:

...............................................................

[2016-05-09 21:01] Mbrownshoes commented on #75
Can we also have it so that when an editor is removed from an organization using the organization manage feature (member_remove) that the individual no longer receives these messages.
<img width="343" alt="screen shot 2016-05-09 at 1 57 01 pm" src="https://cloud.githubusercontent.com/assets/3362533/15127956/fbfa0d66-15ed-11e6-9501-0acf7265565f.png">

Currently, the individual also needs to be dele

[2016-05-09 21:11] jrods commented on #75
@Mbrownshoes Is that a different issue to CITZEDC-843?

[2016-05-09 21:18] Mbrownshoes commented on #75
@jrods yes it is. Right now a user needs to be 'non-active' before they stop receiving a notification, but ideally notifications would stop once they are removed as an editor for that org. We might still want them to be 'active', perhaps as an editor for another organization, but the notifications should stop for the org they have been removed from.

[2016-05-09 21:29] jrods commented on #75
@Mbrownshoes Alright, I see. Also may i suggest making it a new issue so it can be tracked separately from this issue and have the new issue just reference this one?

[2016-05-09 21:41] Mbrownshoes commented on #75
will do.

[2016-05-09 22:12] Mbrownshoes opened #76 "Stop email notifications when an editor has been removed from an organization"
When an editor is removed from an organization using the organization manage feature (member_remove) that the individual should no longer receive notifications. Currently, the individual also needs to be deleted, but in some cases we have people who are editors in multiple organizations and we may want to remove them from one org but not delete them.

Right now a user needs to be 'non-active' befo

[2016-05-12 19:05] gjlawran opened #77 "Auto-complete search should match facets and use relevancy as sort order"
As a user, when I receive an auto-complete response from the search interface I expect that it will obey the facet filter displayed for the search box that it is launched from - and that it returns records according to relevancy sort order.

Currently the auto-complete disregards facet filters - so users are finding datasets that are not publicly downloadable.

When the auto-complete is used from

[2016-05-19 17:35] gjlawran opened #78 "Underscores in resource filenames should be maintained when uploaded."
As a user, when I upload a file with underscores in the filename I would like them to be maintained.

An issue has been identified on core https://github.com/ckan/ckan/issues/2597  however it appears to be dormant. Consider offering to address if original poster has not provided PR.

[2016-06-13 23:57] gjlawran opened #79 "Remind users to login when challenged with Unauthorized Page"
When some editors receive publication state change emails they forget they can login to see the record. The following change to the authorization notice page is recommended.

The prompt  specified [here]
(https://github.com/bcgov/ckanext-bcgov/blob/50cf289cb2b7b1ed5be37eff6d2959696710e1a5/ckanext/bcgov/templates/package/auth_error.html)

can be changed to...

[2016-06-21 21:01] gjlawran opened #80 "Day of week (& other date fields) recast as timestamps"
https://github.com/ckan/datapusher/issues/75

[2016-06-21 21:33] gjlawran opened #81 "Investigate timing for editors browsing organization view"
Navigation by editors of the organization view (https://catalogue.data.gov.bc.ca/organization ) is slow.
Identify options for improving the timing to be closer to that provided to public/admin (<2 secs).

This is linked to CIZTEDC-874.

@Mbrownshoes will provide time statistics for various roles as a baseline.

[2016-06-21 23:02] gjlawran commented on #76
This ticket should also consider changes that were committed under https://github.com/bcgov/ckanext-bcgov/pull/71

[2016-06-21 23:45] Mbrownshoes commented on #81
| CAT                             |                         |                      |                                         |                      |                      |                      |                                          |
|---------------------------------|-------------------------|----------------------|-----------------------------------------|----------------------|------------

[2016-06-22 19:09] ll911 opened #82 "update thin header footer style as the blog/engagement site"
Using this page as a model ... http://engage.gov.bc.ca/govtogetherbc/ make the following changes to the UI:
1) Remove thin gold vertical bar next to sunrise
2) Remove search magnifying glass.
3) Make div id=header-main shorter
4) Only add the hamburger when page is in mobile view.
5) Drop the standard gov navigation IA from the hamburger menu - just move the catalogue (div.level2navigation and div

[2016-06-22 19:14] ll911 opened #83 "footer doesn't stick to foot when for short page content"
sample see about page
<img width="1179" alt="screen shot 2016-06-22 at 12 14 24 pm" src="https://cloud.githubusercontent.com/assets/11949273/16280096/d8ce981e-3872-11e6-9673-9bf80cd5e467.png">

[2016-06-22 21:44] gjlawran commented on #82
Using this page as a model ... http://engage.gov.bc.ca/govtogetherbc/ make the following changes to the UI:
1) Remove thin gold vertical bar next to sunrise
2) Remove search magnifying glass.
3) Make div id=header-main shorter
4) Only add the hamburger when page is in mobile view.
5) Drop the standard gov navigation IA from the hamburger menu - just move the catalogue (div.level2navigation and div

[2016-06-23 23:18] gjlawran opened #85 "Singular (non-plural) word stems are not returned by search"
When users search for a singular version of a word - e.g. home - the search does not return any records that include the stem of the word  - e.g. homes.

 demo.ckan.org  (currently CKAN 2.5.2)   does return records that include word stems .

Is this a SOLR version or configuration issue?

[2016-06-23 23:25] ll911 commented on #85
@gjlawran demo.ckan.org use solr 6.0
https://github.com/ckan/ckan/blob/master/contrib/docker/solr/Dockerfile

[2016-06-24 00:07] gjlawran commented on #85
@kfishwick please compare SOLR config for CKAN 2.3.4 (https://github.com/ckan/ckan/blob/ckan-2.3.4/ckan/config/solr/schema.xml ) with ours

[2016-06-24 15:30] gjlawran opened #86 "Keywords field isn't required to create new record"
The keyword field (tags) is mandatory - and should require a minimum entry of one keyword. This validation is no longer working. It is now possible to navigate to the add data (resource) page without an entry in this field.

Original source: CITZEDC-821

[2016-06-27 21:57] Mbrownshoes opened #87 "new users unable to login to CAD"
CITZEDC-876

[2016-06-27 22:13] Mbrownshoes opened #88 "server 500 error on unpublished dataset"
linked to CITZEDC-863

[2016-06-27 22:18] Mbrownshoes opened #89 "Improve email message sent on state changes"
Linked to CITZEDC-862

[2016-06-27 22:19] Mbrownshoes opened #90 "Modifications needed for header"
LInked to CITZEDC-854

[2016-06-27 22:22] Mbrownshoes opened #91 "change imap link to IMAPBC"
Linked to CITZEDC-844

On the geographic dataset page template - modify the button text from "View in iMap" to "View in iMapBC"
<a href="http://maps.gov.bc.ca/ess/hm/imap4m/?catalogLayers=5337" target="_blank" class="btn btn-primary"><i class="icon-map-marker"></i> View in iMap</a>
<a href="http://maps.gov.bc.ca/ess/hm/imap4m/?catalogLayers=5337" target="_blank" class="btn btn-primary"><i class="i

[2016-06-27 22:24] Mbrownshoes opened #92 "Email notifications being sent to removed users"
Linked to CITZEDC-843

[2016-06-27 22:26] Mbrownshoes opened #93 "Review and implement patch 2.3.4"
LInked to CITZEDC-842

March 31 patch release for 2.3
More information about CKAN releases can be found here:
http://docs.ckan.org/en/latest/maintaining/upgrading/index.html#ckan-releases

[2016-06-27 22:27] Mbrownshoes opened #94 "ga-report extension requires old oauth2client version (1.4.12)"
Linked to CITZEDC-839

[2016-06-28 00:58] Mbrownshoes opened #95 "Fork geoview repo - update with openlayers - make pull request - and sync/clone"
Linked to CITZEDC-814

[2016-06-28 00:58] Mbrownshoes commented on #95
Are we still doing this or have we decided to go a different route?

[2016-06-28 01:05] Mbrownshoes opened #96 "add Swagger UI console as an extension for API resource preview"
CITZEDC-806

Estimate the effort to add Swagger UI Console as an extension that allows users to explore APIs that have Swagger definitions files. We would like to know the estimated effort to create an extension that would use the Swagger UI console within CKAN - possibly as an iFrame - to explore APIs that are added as resources. The assumption would be that we would identify the resource as a sw

[2016-06-28 01:07] Mbrownshoes commented on #82
linked to CITZEDC-759

[2016-06-28 01:12] Mbrownshoes opened #97 "Review production logs"
Linked to CITZEDC-751

[2016-06-28 01:13] Mbrownshoes opened #98 "Application record template label update and field removal"
CITZEDC-525

[2016-06-28 20:48] gjlawran commented on #95
OK - Hwy 3 will update vagrant - will drop the fork for the CKAN core version.

[2016-06-28 21:00] gjlawran opened #99 "Add a spinner that indicates to a user progress is underway - lock edit fields"
When users are updating records or uploading resources they need to be aware of the time needed by the application to complete the task.  Sometimes this leads to data corruption.

An indicator such as  spin.js may reduce the chance that they will attempt to update when a transaction is in progress.

As a secondary investigate locking fields.

[2016-06-28 21:13] kfishwick commented on #82
Assigning back to Greg to alighn with https://github.com/bcgov/data-fp/issues/32

[2016-06-28 21:57] Mbrownshoes opened #100 "Remove mislabelled Data Created field from resource view page templates"
On the resource view pages - ({domain}/dataset/dataset-name/resource/...) the field labelled Data Created - is actually the date the package/record was published. It should be removed from the resource view page templates.

[2016-06-29 19:51] h3devin commented on #83
Fixed in https://github.com/bcgov/ckanext-bcgov/pull/101

[2016-06-30 23:06] jrods commented on #95
@gjlawran @Mbrownshoes @ll911 a new version of the core ext has been tagged, v0.0.11 and is available on pypi now. `pip install ckanext-geoview` should replace the old cmd to install the extension in delivery.

[2016-06-30 23:12] ll911 commented on #95
Rebuild now

From: Jared Smith <notifications@github.com>
Reply-To: bcgov/ckanext-bcgov <reply@reply.github.com>
Date: Thursday, June 30, 2016 at 4:06 PM
To: bcgov/ckanext-bcgov <ckanext-bcgov@noreply.github.com>
Cc: "Lou, Leo GCPE:EX" <Leo.Lou@gov.bc.ca>, Mention <mention@noreply.github.com>
Subject: Re: [bcgov/ckanext-bcgov] Fork geoview repo - update with openlayers - make pull request - and sy

[2016-06-30 23:25] ll911 commented on #82
@gjlawran any updates?

[2016-07-04 23:39] gjlawran commented on #82
Confirmed @kfishwick  this should be in the 1.3 release if possible.

Make sure you keep the extra element in the footer ('Tracking').

[2016-07-05 13:11] gjlawran opened #102 "resource_update for larger files results in duplicate rows to datastore resources"
Using *resource_update* of the [FileStore API](http://docs.ckan.org/en/latest/maintaining/filestore.html) to replace larger files results in duplicate rows in DataStore resources after DataPusher completes update.

See CITZEDC-819

[2016-07-05 17:28] h3devin commented on #82
Fixed in https://github.com/bcgov/ckanext-bcgov/pull/103

[2016-07-05 17:34] kfishwick commented on #81
Khalegh has identified the major culprit for slowness in editor create/browse datasets.  It is indeed related to the orb/suborg queries to return user membership.  He has a proposed solution and is testing it.  Should we use this ticket for release 1.4 delivery or make a new one?

[2016-07-05 17:39] ll911 commented on #82
@h3devin @kfishwick @gjlawran search box missing in the top right header, and footer height needs adjust.

[2016-07-05 18:03] gjlawran opened #104 "Geographic data extraction API testing"
Conduct testing against OFI (Order Fulfiller Interface) to confirm it meets requirements for use in next sprint. Provide feedback to TL by July 18.

Related tickets include CITZEDC-608, CITZEDC-732, CITZEDC-733,

[2016-07-05 18:18] Mbrownshoes commented on #82
clicking on the header (above the yellow line) redirects users to the main gov site.

[2016-07-05 18:29] ll911 commented on #83
<img width="1166" alt="screen shot 2016-07-05 at 11 29 00 am" src="https://cloud.githubusercontent.com/assets/11949273/16595384/aeab2666-42a3-11e6-9652-f0f4ae8360f7.png">

[2016-07-05 18:42] h3devin commented on #83
That's expected - the footer doesn't currently float or attach itself to the bottom of the browser window.

It looks like that because the footer is appearing right after the content of the page, and since there isn't much in terms of page content you get the footer appearing _before_ the bottom of the browser window.  I added a background color to get rid of the blue -> white transition appearing

[2016-07-05 18:48] h3devin commented on #82
@ll911 I can add a search box for desktop/tablet, but I don't think there will be enough room to keep it in mobile (which it looks like the govTogetherBC site does too)

@Mbrownshoes How should this work?  On prod it redirects to the main gov from the logo, and "Data Catalogue" redirects to the catalogue site.  Did you want to mirror that?

[2016-07-05 18:50] ll911 commented on #82
@h3devin search box changed to magnifying glass in mobile mode, see style in http://blog.data.gov.bc.ca/

[2016-07-05 18:52] h3devin commented on #82
@ll911 Is this search box for the data catalogue or the gov site?

[2016-07-05 18:54] ll911 commented on #82
@h3devin data catalogue

[2016-07-05 20:10] h3devin commented on #82
Additional updates in https://github.com/bcgov/ckanext-bcgov/pull/105

[2016-07-05 20:22] Mbrownshoes opened #106 "when duplicating a record, clicking 'update dataset' should lead to add resource page"
As an Editor, when I duplicate a record I am not reminded to add a data resource - the system offers the 'Update Dataset' button instead of  'Next: Add Data'  This can lead to 'ghost' records with no data resources. You should have to add a resource when duplicating.

[2016-07-05 20:25] Mbrownshoes commented on #99
I've had two cases in the past couple of days where editors have created two of the same resource due to double clicking 'add data'. They did not know it has already been added. A spinner would solve that.

[2016-07-05 20:27] ll911 commented on #82
@h3devin header looks good, you can remove the "Collapsible footer" like the blog/engagement site
<img width="1215" alt="screen shot 2016-07-05 at 1 25 10 pm" src="https://cloud.githubusercontent.com/assets/11949273/16598738/28f4ab94-42b4-11e6-8545-3b8030298111.png">

[2016-07-05 21:34] ll911 commented on #81
@gjlawran @kfishwick I suggest close this one and create new one attached to 1.4.0

[2016-07-05 21:38] gjlawran commented on #82
This fine as currently delivered. Thanks.

[2016-07-05 21:40] ll911 commented on #82
@gjlawran if you like to accept the current one, we should close this ticket and create new one for footer.

[2016-07-05 21:52] gjlawran commented on #82
@ll911  I will accept it as code complete - but that move it up to @kfishwick  - would prefer to only close on production verification.

@h3devin  we will raise another ticket to deal with the height issue for the footer - it wasn't in the list - the list just specified adjusting the header height.

[2016-07-05 21:57] gjlawran opened #107 "Adjust footer height to be consistent with engagement style"
Please match the height of  #footerAdminSection  to  http://engage.gov.bc.ca/spillresponse/
(60)

[2016-07-05 22:05] gjlawran commented on #81
@kfishwick  @ll911  lets follow SDLC - close it once we here about the proposed solution and confirm its assignment to a release - this ticket can be moved to the next step though for our review/verification - also if we are doing 2.4/2.5 update in release 1.4 - it may have implications for this issue

[2016-07-05 22:25] ll911 opened #108 "resource/package title background blue needs match with header"
<img width="1025" alt="screen shot 2016-07-05 at 3 26 01 pm" src="https://cloud.githubusercontent.com/assets/11949273/16601904/d9fb2a66-42c4-11e6-966c-60672acde85f.png">

[2016-07-05 22:36] kfishwick commented on #81
Preliminary analysis of new timing is sub - second dataset creation for editors.  Needs quite a lot of testing to ensure security rules are followed.

[2016-07-05 23:40] Mbrownshoes opened #109 "Authorization error page should tell users to login"
Editors who don't know to login are notifying us that they can't access draft records. We should add a note to the https://cat.data.gov.bc.ca/authorization-error that asks editors to login in to access records in draft.

[2016-07-06 00:28] gjlawran commented on #109
I believe this a duplicate of https://github.com/bcgov/ckanext-bcgov/issues/89 that is in the V1.3 ready for your testing.

[2016-07-06 00:28] #109 closed

[2016-07-06 15:34] Mbrownshoes commented on #89
The authorization error page still doesn't tell users to login
https://cat.data.gov.bc.ca/authorization-error

[2016-07-06 15:38] Mbrownshoes commented on #89
@ll911 what's the process for tickets like this that I want to reject? Leave them in code complete or send back to 'in progress'?

[2016-07-06 16:44] kfishwick commented on #89
Matt the authorization error page is a different issue, not this one.  Is there a problem with the emails?  If so can you please give details?

[2016-07-06 16:56] gjlawran commented on #89
@Mbrownshoes @kfishwick my bad - it is a duplicate of https://github.com/bcgov/ckanext-bcgov/issues/79 which was not assigned to this release

[2016-07-06 16:58] gjlawran commented on #89
@kfishwick details of the issue are in JIRA CITZEDC-862

[2016-07-06 17:07] kfishwick commented on #89
CITZEDC-862 has no new comments.  We fixed that issue & it was delivered.  Do the email templates not match what was provided?

[2016-07-06 18:20] Mbrownshoes opened #110 "Test and Delivery are loading very slowly"
When logged in as an editor in test or delivery and change the ‘Order by’ field from ‘published date’  the page is taking >10 s to load. This is not observed in Prod, where the page loads in ~2 s.

This is a critical issue with the 1.3 release. @gjlawran @ll911 @Darv72

[2016-07-07 20:37] Mbrownshoes opened #111 "email notifications not being sent"
In test and delivery email notifications are not being sent to organization's editors/admin when a record's state is moved to pending publish from draft.

Here is the log.

[pid: 24147|app: 0|req: 10/18] 142.34.140.32 () {48 vars in 752 bytes} [Thu Jul  7 13:32:29 2016] POST /api/3/action/resource_show => generated 1159 bytes in 62 msecs (HTTP/1.1 200) 4 headers in 130 bytes (1 switches on core 5)

[2016-07-07 20:38] ll911 commented on #111
fixed by update smtp.starttls = false

[2016-07-07 20:38] #111 closed

[2016-07-11 18:39] Mbrownshoes opened #112 "update the 'access only' license url"
The url for the standard gov license changed. I've updated this and will submit a pull request.

[2016-07-12 16:16] ll911 opened #114 "layout bug in iPhone 5"
blue stripe on the right side page, also class "icon-sitemap" should be in hamburger menu. see screen attached.

![img_3490](https://cloud.githubusercontent.com/assets/11949273/16774290/3a98a114-4810-11e6-8765-fbb5411e5f70.PNG)

[2016-07-12 16:21] ll911 opened #115 "layout bug in iPhone 5"
extra blue stripe on the right side screen and class "icon-sitemap" should be in hamburger menu
see screen attached
![img_3490](https://cloud.githubusercontent.com/assets/11949273/16774674/f042c8c2-4811-11e6-86fa-d7d99696ccf8.PNG)

[2016-07-12 22:20] #95 closed

[2016-07-12 22:24] Mbrownshoes opened #116 "update recline.js to use ESRI leaflet that consumes the BC tilecache"
MapQuest changed its terms of use for the default leaflet tilecache. fork the reclineview extension and replace the leaflet code in recline.js with the ESRI leaflet code that consumes our own tilecache.

[2016-07-12 22:36] Mbrownshoes commented on #98
verified in Prod

[2016-07-12 22:37] #98 closed

[2016-07-12 22:38] #75 closed

[2016-07-12 22:40] #89 closed

[2016-07-12 22:40] #90 closed

[2016-07-12 22:43] #88 closed

[2016-07-12 22:44] #86 closed

[2016-07-12 22:45] #87 closed

[2016-07-12 22:53] #92 closed

[2016-07-12 22:54] #91 closed

[2016-07-12 22:54] #97 closed

[2016-07-12 22:54] #82 closed

[2016-07-12 22:54] #93 closed

[2016-07-12 22:54] #81 closed

[2016-07-12 22:55] Mbrownshoes commented on #83
@ll911 is this something for 1.4?

[2016-07-12 22:57] ll911 commented on #83
@Mbrownshoes footer now does stick o foot, but has another problem as described in the thread. I think we should move this to next sprint.

[2016-07-13 16:31] Khalegh-H3 commented on #116
Here is a link to the newly created issue about MapQuest on
ckan-spatial git and some suggested solutions :
https://github.com/ckan/ckanext-spatial/issues/157

[2016-07-13 16:53] Mbrownshoes commented on #115
It appear this is only a bug for geographic records with an object name.

[2016-07-13 20:33] kfishwick commented on #116
Recommendation is to fork ckan version 2.3.4, make the change, and modify deployment to include the forked version.

@Darv72 and @ll911  please create the fork and we can proceed with the updates.

[2016-07-13 20:34] kfishwick commented on #116
Note, it appears that this approach will probably have to continue in 2.5, since the same issue occurs there.

[2016-07-13 20:44] kfishwick commented on #116
Note, this seems to also be logged in CKAN  but they want the recline js provider to update it.

https://github.com/ckan/ckan/issues/3162

[2016-07-13 20:49] kfishwick commented on #85
We will double check this once the SOLR & CKAN versions have been updated.

[2016-07-13 20:58] kfishwick commented on #104
This is not a deliverable, just preliminary analysis on the existing delivery version of the API.

[2016-07-13 21:03] kfishwick commented on #52
Investigate adding the parent org to the breadcrumb (need to trim it and add "...") similar to

![image](https://cloud.githubusercontent.com/assets/5503136/16819650/4a4cc412-4902-11e6-8039-3c41a601a666.png)

The information does exist in the "Published by" row but it should also be in the breadcrumb.

[2016-07-13 21:47] Darv72 commented on #116
I've forked the ckan repo into bcgov, the 2.3.4 branch can be found here:

https://github.com/bcgov/ckan/tree/ckan-2.3.4

[2016-07-14 17:12] gjlawran commented on #83
Original problem addressed. Is functional. Will review any issues with UI after 2.5 upgrade. Closing.

[2016-07-14 17:13] #83 closed

[2016-07-14 23:28] gjlawran commented on #100
Simplifying and  narrowing focus of these issues.

[2016-07-15 00:42] gjlawran opened #117 "Recording and displaying last date of upload for filestore resources"
As a user, I would like to know when the file resources were uploaded into the data catalogue so that I know how current they are. This should be displayed on the resource show page and possibly on the package page if it can fit.

Background:
The core resource_show API call indicates the following elements are present in the response **last_modified:** , **cache_last_updated:** ,** webstore_last_u

[2016-07-15 15:49] Mbrownshoes opened #118 "Rename resource storage location names or have this auto-populate"
New editors often don't know what to select for 'Resource Storage Location'. Changing EDC Data Store to 'Catalogue File/Data Store' might be more helpful. Ideally, this should be automatic - if a file is uploaded this should be auto-populated. Same if the data is stored on an ftp site (external) or the link is set to pub.data.

[2016-07-15 16:14] gjlawran opened #119 "Displaying size of data resources"
As a user I would like to know the size of a file before I attempt to download it. When a file is uploaded to the FileStore record the size of the file in bytes and present in kB or MB depending upon size.

In the case of a compressed file the size presented will be the compressed file size **not** the size of the original expanded file.

When a file is presented from an external location (not in

[2016-07-15 18:01] gjlawran opened #120 "Simplify resource record creation UI"
As a user, I would like to only enter information that cannot be determined automatically. As a system administrator, we would only like to request and maintain information that cannot be determined automatically.

To resolve this:
When a file is uploaded or linked - when possible pre-populate fields:
Resource Name (use the full filename incl the extension)
Resource Storage Format - autoselect bas

[2016-07-15 23:01] gjlawran commented on #76
Confirmed deleted  user no longer receiving email notifications.

[2016-07-15 23:10] gjlawran opened #121 "Upgrade to CKAN 2.5.2"
As many issues associated with the DataStore and DataPusher, and updates to the authorization process have been made over the course of 2.3 > 2.5 - the 1.4.0 release will focus on upgrading from CKAN 2.3.4 to 2.5.2 .  This will also put us into a better position to more easily contribute to core.

[2016-07-15 23:39] gjlawran opened #122 "Datastore API Demo modal window encourages robots to make needless queries"
If not resolved by beginning of sprint - please offer assistance to resolve this in core  - https://github.com/ckan/ckan/issues/3076

[2016-07-16 01:15] gjlawran opened #123 "Move license JSON file out of code repo"
To expedite the update of the license configuration [file](https://github.com/bcgov/ckanext-bcgov/blob/master/ckanext/bcgov/scripts/data/bcdc_licenses.json) remove it from the code repository and update the licenses [group URL](http://docs.ckan.org/en/latest/maintaining/configuration.html#licenses-group-url).

[2016-07-18 18:30] gjlawran commented on #107
Resolved in 1.3 now in production.

[2016-07-18 18:30] #107 closed

[2016-07-18 21:18] Mbrownshoes commented on #94
verified in Prod

[2016-07-18 21:18] #94 closed

[2016-07-18 22:11] ll911 commented on #121
it appears ckan org using solr 4.8.1 and postgresql 9.3 for ckan-2.5.2, should we downgrade solr and upgrade postgresql to match the same version? https://github.com/ckan/ckan/tree/ckan-2.5.2/contrib/docker

[2016-07-18 22:16] jrods commented on #121
Maybe could asked on the ckan irc or mailing list to see if the versions we're running of postgres and solr are ok to continue use with ckan 2.5.2?

[2016-07-19 00:47] gjlawran commented on #121
We can - but we are hoping the SOLR upgrade is going to resolve a couple of existing issues - so we should proceed with that at the minimum. Is there a reason why we would skip the PG upgrade? We haven't done it for awhile.

[2016-07-19 00:54] gjlawran commented on #121
@ll911  looks like the latest install recommends Ubuntu - with latest installs of PG and SOLR - http://docs.ckan.org/en/latest/maintaining/installing/install-from-package.html  - that Dockerfile needs an update it is 2 years old

[2016-07-19 22:05] gjlawran commented on #116
We are sticking with MapQuest for our 1.4 release - our 1.5 release will allow the inclusion of an attribution statement and URL in our ini.   For our own tile cache the following will be the attribution hyperlink:
<a href="https://catalogue.data.gov.bc.ca/dataset/a5f40ea5-2b14-4f10-9904-94465e085c7e" target="_blank">Copyright © 2016, Province of British Columbia</a>

[2016-07-19 22:06] ll911 commented on #116
You mean MapBox?

From: Greg Lawrance <notifications@github.com>
Reply-To: bcgov/ckanext-bcgov <reply@reply.github.com>
Date: Tuesday, July 19, 2016 at 3:05 PM
To: bcgov/ckanext-bcgov <ckanext-bcgov@noreply.github.com>
Cc: "Lou, Leo GCPE:EX" <Leo.Lou@gov.bc.ca>, Assign <assign@noreply.github.com>
Subject: Re: [bcgov/ckanext-bcgov] update recline.js to use ESRI leaflet that consumes the BC tilecach

[2016-07-19 22:42] gjlawran commented on #116
No. - I believe the default is MapQuest hosted tiles built from OSM ....

https://github.com/ckan/ckan/blob/ae2eaa39c2921e53daa439833b3ed267be2a47ad/ckanext/reclineview
/theme/public/vendor/recline/recline.js#L2279

[2016-07-19 22:47] kfishwick commented on #116
The commit we just merged into your ckan fork includes the ability to customize the map parameters in your ini.

ckanext.reclineview.mapview.type =
ckanext.reclineview.mapview.mapbox.map_id =
ckanext.reclineview.mapview.mapbox.access_token =
ckanext.reclineview.mapview.attribution =

[2016-07-19 22:57] gjlawran commented on #116
Ah yes - @ll911  is correct - we are replacing MapQuest hosted tiles with MapBox hosted tiles.  The attribution string specified by MapBox who also uses OSM is specified here
https://www.mapbox.com/help/attribution/

ckanext.reclineview.mapview.attribution = "© <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>"

[2016-07-20 00:05] kfishwick commented on #116
Ok @ll911  will have to add that in the test & prod ini files.  Thanks.

[2016-07-20 19:24] gjlawran commented on #116
@Khalegh-H3 are you working on including the attribution specified earlier - and ensuring that the target of the attribution hyperlink opens in a  new tab ? It is currently attempting to open within the iframe.

[2016-07-20 19:26] kfishwick commented on #116
This is just a configuration parameter Greg, Leo can set it to what you want in test.  Including opening in a new tab (html goes in the ini file).

[2016-07-20 19:32] Khalegh-H3 commented on #116
I haven’t done anything in the code for showing attribution target. The fix only includes replacing map tiles through ini configs(including the attribution html) if there are any. Otherwise it uses whatever tiles defined in recline.js.

As Karen said the attribution text and links can be totally customized using html code in ini file.

[2016-07-21 18:53] Mbrownshoes commented on #116
When we deploy to test, the ini file is automatically copied over from delivery, thus we need the correct attribution (including fixing the hyperlinks) done in delivery first.

[2016-07-21 20:25] gjlawran commented on #116
@kfishwick @Khalegh-H3
In the Delivery ini file - please replace:

`ckanext.reclineview.mapview.attribution=Â© <a target=_blank href='https://www.mapbox.com/map-feedback/'>Mapbox</a> Â© <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>
`
with

`ckanext.reclineview.mapview.attribution=Â© <a target=_blank href='https://www.mapbox.com/map-feedback/'>Mapbox</a> Â© <a target=_blank hre

[2016-07-21 23:43] Mbrownshoes commented on #116
Woking in test, though the Leaflet attribution still opens within the same page, not in a new tab, as it should.

[2016-07-21 23:59] kfishwick commented on #116
The leaflet link is not specified in the attribute parameter, I'll have to talk to Khalegh about whether it can be customized.

Thanks,
Karen

[2016-07-22 14:22] gjlawran commented on #116
Verified in TEST. Will resolve issue with in frame Leaflet attribution in 1.4 or 1.5.

[2016-07-22 17:33] gjlawran commented on #116
Confirmed in production. Will raise a new issue to resolve problem with Leaflet attribution occurring within iframe.

[2016-07-22 17:33] #116 closed

[2016-07-22 17:35] ll911 commented on #116
Can you close the milestone?

Sent from Mobile

On Fri, Jul 22, 2016 at 10:34 AM -0700, "Greg Lawrance" <notifications@github.com<mailto:notifications@github.com>> wrote:

Confirmed in production. Will raise a new issue to resolve problem with Leaflet attribution occurring within iframe.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://g

[2016-07-22 17:36] gjlawran opened #124 "All attribution links should open in new browser tab - including Leaflet"
Leaflet attribution hyperlink used in Data Explorer web map should open in a new tab - rather than within the current iFrame. This is an attribution link that is built into default Leaflet -not added through configuration -  so a modification to either Leaflet or recline.js may be required to facilitate.

[2016-07-22 19:26] ll911 opened #125 "iphone5"

[2016-07-22 19:26] ll911 opened #126 "UI BUGs"
a collection EPIC for all UI bugs

[2016-07-22 19:33] ll911 opened #127 "footer height bug caused by #83"
footer height bug caused by #83 #101

[2016-07-22 19:37] ll911 opened #128 ""data resources" and "Explore" buttons colour should match header blue hash #003366"
![screen shot 2016-07-22 at 12 35 42 pm](https://cloud.githubusercontent.com/assets/11949273/17069004/07a54c84-5009-11e6-8bd7-df4b7f226689.png)

[2016-07-22 19:39] ll911 opened #129 "list alignment in desktop browser"
![screen shot 2016-07-22 at 12 38 25 pm](https://cloud.githubusercontent.com/assets/11949273/17069030/35d37752-5009-11e6-8886-550846c4ed6f.png)
see samples [here](https://catalogue.data.gov.bc.ca/dataset/summaries-of-protected-lands-and-waters-in-b-c-)

[2016-07-22 19:42] ll911 commented on #125
duplications of #114, #115

[2016-07-22 19:42] #125 closed

[2016-07-25 16:36] gjlawran opened #130 "Update Vagrant setup to resolve issue with access to shared folders"
The vagrant up command fails with mounting shared folders because the Virtualbox Guest Additions fail to install in the VM.  Workaround is to wait for it to fail, then ssh into the vm and do sudo yum update -y, restart the vm and rerun vagrant up.

[2016-07-25 23:46] jrods commented on #121
I have tested and updated the vagrant env to use ckan 2.5.2. Using @Khalegh-H3 changes in vagrant env, everything is good. I will create the PR to the branch with the new changes.

However one problem with the vagrant env, I can't push my changes to svn repo for bcdc-vagrant @ll911.

[2016-07-26 15:40] ll911 commented on #121
Isn't the vagrant source under bcdc-devops repo in GH?

Sent from Mobile

On Mon, Jul 25, 2016 at 4:47 PM -0700, "Jared Smith" <notifications@github.com<mailto:notifications@github.com>> wrote:

I have tested and updated the vagrant env to use ckan 2.5.2. Using @Khalegh-H3<https://github.com/Khalegh-H3> changes in vagrant env, everything is good. I will create the PR to the branch with the new cha

[2016-07-26 15:44] jrods commented on #121
The bcdc-devops repo only has vanilla ckan and data-fp @ll911

[2016-07-26 16:57] jrods commented on #99
There's one little quirk, it's mainly there to fix an issue only in Firefox, but the spinner and element that covers the form disappears just before the next page displays. This is to prevent the spinner and element covering the form if the user happens to click on the browser back button. It's only a visual issue.

[2016-07-26 17:18] jrods commented on #121
The svn repo for the vagrant env now has the updated changes.

I will now update the change log with the necessary steps to preform the upgrade in delivery.

[2016-07-26 19:33] jrods commented on #121
### Upgrade to Ckan 2.5.2 instructions
1. Preform the necessary backup of all data
	- db, datastore, uploads, etc.

2. Install Ckan from pip
		pip install ckan==2.5.2

3. Before installing ckanext-googleanalytics, comment out authz import
		sed -i 's/from ckan.model.authz/#from ckan.model.authz/' /apps/ckan/dlv/src/ckanext-googleanalytics/ckanext/googleanalytics/dbutil.py

4. Upgrade the `bleach`

[2016-07-26 19:39] ll911 commented on #121
If authz section not required for googleanalytic extension, can you make the changes in our forked repo instead of altering the code in runtime?

Sent from Mobile

On Tue, Jul 26, 2016 at 12:35 PM -0700, "Jared Smith" <notifications@github.com<mailto:notifications@github.com>> wrote:

Upgrade to Ckan 2.5.2 instructions

  1.  Preform the necessary backup of all data

     *   db, datastore, upload

[2016-07-26 19:41] jrods commented on #121
Yes, I can submit a PR to the bcgov's version of googleanalytics to include the fix.

[2016-07-26 19:46] ll911 commented on #121
Thx Jared, also for Python module bleach, isn't the new required version included as part of ckan-2.5.2 requirement.txt? Shouldn't we just stick to that version instead? Why need upgrade on top of the requirement.txt ?

Sent from Mobile

On Tue, Jul 26, 2016 at 12:43 PM -0700, "Jared Smith" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, I can submit a PR to the bcgov's ve

[2016-07-26 19:50] jrods commented on #121
@ll911 It is but from my testing in the vagrant env, it still throws an error when trying to run ckan, even after running the requirements.txt.

[2016-07-26 20:07] ll911 commented on #121
@jrods you mean 1.4.2 included in https://github.com/ckan/ckan/blob/ckan-2.5.2/requirements.txt not working?

[2016-07-26 21:22] ll911 commented on #121
@jrods created 2.5.3-bcgov branch for recline map fixes https://github.com/bcgov/ckan/tree/2.5.3-bcgov

got following error when run paster db upgrade after switching to 2.5.2/2.5.3-bcgov
`paster --plugin=ckan db upgrade -c ckan.ini
Traceback (most recent call last):
  File "/apps/ckan/dlv/bin/paster", line 11, in <module>
    sys.exit(run())
  File "/apps/ckan/dlv/lib/python2.7/site-packages/past

[2016-07-26 21:24] ll911 commented on #121
@jrods `bleach-1.4.3 html5lib-0.9999999` fixed the sanitizer issue, bleach-1.4.2 from the `requirement.txt` does not work

[2016-07-26 21:32] ll911 commented on #121
@jrods I have updated the requirement.txt in our forked branch to include bleach 1.4.3

[2016-07-26 22:48] Mbrownshoes commented on #99
The spinner isn't showing on the current window.
<img width="1440" alt="screen shot 2016-07-26 at 3 49 08 pm" src="https://cloud.githubusercontent.com/assets/3362533/17157969/fd12dd3a-5347-11e6-9165-136eea7bcaaa.png">

can we remove the large grey background and just have a standalone spinner, i.e.
http://jsfiddle.net/5CQJP/1/

[2016-07-27 00:02] jrods commented on #99
I moved the spinner to the bottom of the form rather than the top.

As for the grey background, this indicates that form is disabled and prevents the user from editing anything in the form once the add resource button has been clicked.

But I can remove the grey background if you want.

[2016-07-27 21:31] ll911 opened #135 "datapusher cannot startup with ckan-2.3.5/ckanext-bcgov-1.3.1 branch"
https://github.com/bcgov/datapusher startup failure
[code]

[2016-07-27 21:31] jrods commented on #85
@gjlawran I did a search in cad for 'test' 'tests' and 'testing', all results return 151 datasets. So I believe plurals in search are working.

[2016-07-27 21:35] ll911 commented on #135
@gjlawran @kfishwick confirm this only effect ckanext-bcgov-1.3.1 with ckan-2.3.5-bcgov branch

[2016-07-27 21:42] ll911 opened #136 "switch datapusher from fork to main release"
@gjlawran @kfishwick can we use the main datapusher instead of our fork?
1, check release https://github.com/ckan/datapusher/releases/tag/0.0.8 works
2, push 0.0.8 to PYPI, as
[code]
3, install via PIP and remove our fork

[2016-07-27 21:46] ll911 commented on #130
@gjlawran hashicorp has created successor/replacement for Vagrant
https://www.ottoproject.io/intro/vagrant-successor.html

[2016-07-28 02:46] gjlawran commented on #136
@kfishwick Data pusher has failed to start in TEST and PROD since our 1.3.1 release. @ll911 thinks this may be due to a code difference between the 2.3.4 branch that we built on and the code used to build the 2.3.4 PyPi package.

I am wondering if we are dealing with any issues associated with Python version dependency.

[2016-07-28 04:27] gjlawran opened #137 "datastore_info API call not working"
Making a datastore_info request as a post for a production resource ID
curl --request POST \
  --url https://catalogue.data.gov.bc.ca/api/action/datastore_info \
  --header 'cache-control: no-cache' \
  --header 'content-type: multipart/form-data; boundary=---011000010111000001101001' \
  --form id=b12cd4cc-b58b-4079-b630-a20b6df58e8d

 returns:
"Bad request - Action name not known: datastore_info

[2016-07-28 17:19] gjlawran commented on #136
@kfishwick our 1.3.1 is based on CKAN 2.3.5 - which conflicts with the DataPusher .
@kfishwick our 1.4 release based on CKAN 2.5.2 - does not conflict with DataPusher 0.7
We are going to sync our DataPusher fork to 0.8 release and deploy to CAD

[2016-07-28 18:03] jrods commented on #130
The main issue is bento/centos-6.7 we use for vagrant. I believe that matches what's in delivery/test/prod? @ll911

[2016-07-28 18:41] ll911 commented on #130
@jrods maybe switch to the official image instead of 3rd party ones?
http://cloud.centos.org/centos/6/vagrant/x86_64/images/

[2016-07-28 21:50] jrods commented on #130
After some testing and analysis, I found that just using `bento/centos-6.8` and updating all the Vagrantfiles to use the different box. Existing vagrant envs won't be affected by this change if a different `config.vm.box` is specified. They will continue to use the same box it was originally initialized with. This only affects new vagrant envs.

Will update all the Vagrantfile and README.md files

[2016-07-29 00:27] ll911 commented on #136
close as completed.

[2016-07-29 16:57] Mbrownshoes commented on #85
A search for 'building' did not return this record, which has the word 'buildings' in the description
https://cat.data.gov.bc.ca/dataset/consolidated-community-energy-and-emissions-inventory-reports

[2016-07-29 18:18] Mbrownshoes commented on #99
Looks good to me.

[2016-07-29 18:18] Mbrownshoes commented on #135
Datapusher is working in CAT

[2016-07-29 21:01] Mbrownshoes opened #138 "WMS resource preview with geoview extension not working in CAD and CAT (1.4)"
WMS previews are working in prod
https://catalogue.data.gov.bc.ca/dataset/schools-k-12-with-francophone-indicators/resource/d62cc90c-d2d9-44f0-892b-b816454941b1

but the same resource as above isn't working in CAT or CAD
https://cad.data.gov.bc.ca/dataset/wms_test/resource/b7ea8058-ea40-424f-9de4-a6f343cdf823

https://cat.data.gov.bc.ca/dataset/wms_test/resource/596de543-8ac9-4265-a399-c287013b97d

[2016-07-29 22:29] ll911 commented on #137
@gjlawran 1.4.0 has proper response for datastore_info

[2016-07-29 23:07] jrods commented on #85
I did a search on 'building' and found that dataset in cat.

<img width="749" alt="screen shot 2016-07-29 at 4 01 24 pm" src="https://cloud.githubusercontent.com/assets/5874122/17265756/90b3cf30-55a6-11e6-87b2-c623c0a160ac.png">

[2016-07-29 23:09] Mbrownshoes commented on #85
Ah sorry, Leo re-indexed solr which fixed the problem.

[2016-08-02 20:37] gjlawran commented on #138
Prod-
https://openmaps.gov.bc.ca/geo/pub/WHSE_WILDLIFE_MANAGEMENT.WAA_TRAPLINE_AREAS_SP/ows?LAYERS=pub%3AWHSE_WILDLIFE_MANAGEMENT.WAA_TRAPLINE_AREAS_SP&TRANSPARENT=TRUE&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&FORMAT=image%2Fpng&SRS=EPSG%3A3857&BBOX=-13306157.882031,6887893.491875,-13227886.365078,6966165.0088281&WIDTH=256&HEIGHT=256

New - CAT: - is not doing GetMap request
https://openma

[2016-08-02 21:22] gjlawran opened #139 "Return to PIP core release using 2.5.3BC"
Will drop use of core CKAN  form from GitHub.

[2016-08-03 19:18] gjlawran opened #140 "Page optimization for search robots by including canonical link specifications"
To improve page ranking of catalogue records - [SEO best practices](https://support.google.com/webmasters/answer/139066?hl=en) suggest that where web resources are available at multiple URLs - web pages should indicate the canonical or preferred URL

As each package / record is available at both its SLUG and UID reference it may be beneficial to add a <link> element to the SLUG URL with attribute

[2016-08-04 15:53] kfishwick commented on #138
CKAN updated the demo site with a redeploy of the geoview extension (same version, but newer commit) and it is now broken.

![image](https://cloud.githubusercontent.com/assets/5503136/17408571/9a477168-5a20-11e6-9446-4097cd997341.png)

The problem is that the geoview is failing when it attempts to parse the url parameters.  If you remove the parameters then the call works.

We are looking into a f

[2016-08-04 16:13] ll911 opened #141 "fork ckanext-geoview as #138"
fork ckanext-geoview as #138

[2016-08-04 16:20] ll911 opened #142 "recline_map_view broken in our forked ckan/ckanext-bcgov"
recline_map_view is a new feature introduced in ckan 2.5.x
demo site works(mapquest base still failed):
http://demo.ckan.org/dataset/test-for-mat/resource/f2c76d4b-a858-4775-b30d-738cc3da477f?view_id=59d1d3dd-2462-4b90-a225-06db3b573a77

our test site failed as map_config undefined:
https://cat.data.gov.bc.ca/dataset/bc-public-libraries-systems-branches-and-locations/resource/93da6d3c-86aa-4b82-a1

[2016-08-04 16:26] ll911 commented on #141
@kfishwick created 0.0.12-bcgov branch and set as default https://github.com/bcgov/ckanext-geoview

[2016-08-04 17:18] kfishwick commented on #142
The 1.3.1 fix was intended to work for recline view & recline map view, but we don't have to install the recline map view plugin.    We will remove that.

The error you are seeing is not related to the usage of the recline map view, its a js error in the code that was implemented in 1.3.1.    We can fix that.

[2016-08-04 17:59] Khalegh-H3 commented on #142
Yes, the error was in javascript and it is and easy fix. But, if we want to
use MapView without adding recline_map_view plugin some changes are
required. Currently, the code for getting map configuration parameters is
in reclineMapView plugin. The best case is to add helper functions for
getting map config to both reclineView and reclineMapView plugins.

Khalegh

On Thu, Aug 4, 2016 at 10:19 AM, k

[2016-08-04 18:15] gjlawran commented on #142
@ll911 the recline_map_view extension (AKA Datastore Map) was implemented with the 2.3 CKAN release as part of the [resource views](http://docs.ckan.org/en/ckan-2.3.4/maintaining/data-viewer.html) functionality associated with that release . It allows a user to create a locked preview of a map that you can generate with the recline_view (AKA Data Explorer) extension . This is similar to the Datast

[2016-08-04 18:44] Khalegh-H3 commented on #142
@gjlawran  With the new fix you can have recline_view and recline_map_view both or either. So if you need to enable recline_map_view later, all you need is to add reclinemapview plugin to the list of ckan.plugins in ini file.

[2016-08-04 19:44] kfishwick commented on #142
Added back in recline_map_view to plugin list as per email from Leo/Greg.

[2016-08-04 21:56] gjlawran commented on #142
recline_map_view is now working in Mozilla and IE11 - but not in Chrome.

[2016-08-04 22:32] gjlawran opened #145 "recline_map_view tile cache not working in Chrome"
The Mapbox basemap tilecache used in recline_map_view plugin (resource view) does not display in Chrome  browser. It works in Mozilla, IE and Safari.

https://cad.data.gov.bc.ca/dataset/testing-geographic/resource/92479e9f-6e2b-4624-afec-45ea076a2ae1?view_id=beb2eb3c-1f69-4bc0-bb58-342d8fd203cd

![image](https://cloud.githubusercontent.com/assets/1154765/17420603/9e53cdb4-5a58-11e6-923b-8d90049b8b

[2016-08-04 22:42] kfishwick commented on #145
Jared can you take a look at this in vagrant...maybe try a few different base map providers and see if it changes the behaviour?

[2016-08-04 22:51] jrods commented on #145
That resource seems to work for me in chrome:
<img width="1285" alt="screen shot 2016-08-04 at 3 49 54 pm" src="https://cloud.githubusercontent.com/assets/5874122/17420992/31299cc0-5a5b-11e6-9ba0-2c79aa57ddfa.png">

[2016-08-04 22:56] ll911 commented on #145
Chrome on mac works, chrome on windows seems still problematic.

[2016-08-04 23:13] ll911 commented on #145
Check this
[cid:image001.png@01D1EE6B.5F32C850]

[cid:image002.png@01D1EE6B.5F32C850]

From: Jared Smith <notifications@github.com>
Reply-To: bcgov/ckanext-bcgov <reply@reply.github.com>
Date: Thursday, August 4, 2016 at 3:51 PM
To: bcgov/ckanext-bcgov <ckanext-bcgov@noreply.github.com>
Subject: Re: [bcgov/ckanext-bcgov] rescline_map_view tile cache not working in Chrome (#145)

That resource seem

[2016-08-05 00:00] Khalegh-H3 commented on #145
I don't think this is Chrome specific issue. I have seen similar behaviour in other browsers too. It really depends on what you select as latitude and longitude fields and how you create the map view. It also expects a GeoJson field and by default it picks the first field from resource data. From what I see the form is not as smart as the recline multiview on picking the view fields.

[2016-08-05 16:51] ll911 commented on #123
both licenses and sectors file moved to gogs

[2016-08-05 21:07] jrods commented on #102
@gjlawran @ll911 @Mbrownshoes  I need more information on what the statstrack and the exporter script is doing. What is the process? Which exporter script?

[2016-08-05 23:04] jrods commented on #124
@gjlawran can you provide an example resource that does this?

[2016-08-05 23:34] gjlawran commented on #124
Visit this resource https://catalogue.data.gov.bc.ca/dataset/bc-public-libraries-systems-branches-and-locations/resource/b6a28bfb-580b-4662-9f00-f7189d52fbe6
Select the Map tab in the Data Explorer
Select the Leaflet attribution hyperlink.

[2016-08-05 23:51] gjlawran commented on #102
This ticket should not be initiated until 1.4.0 is delivered to production.

[2016-08-06 00:46] gjlawran commented on #145
Tile cache is now working in Chrome, Firefox and IE11. Pass.

[2016-08-06 00:50] gjlawran commented on #104
Awaiting response from vendor on questions regarding AOI and UIDs.  gjlawran needs to develop preliminary wireframes.

[2016-08-06 00:51] gjlawran commented on #138
Confirmed now working in CAD.

[2016-08-06 00:56] gjlawran commented on #121
This should be closed on production release after verification.

[2016-08-06 00:57] gjlawran commented on #85
Needs to be validated in production with 1.4.0

[2016-08-06 00:59] gjlawran commented on #136
DataPusher update needs verification in production with 1.4.0.

[2016-08-09 15:50] kfishwick commented on #138
Just a note, it seems like it was an intentional change in the geoview extension NOT to strip the parameters any more:

https://github.com/ckan/ckanext-geoview/pull/42/commits/2179cc4cf0d89a29fd76d81b0ac950269c8e8114

So we won't be able to push this change back into the core extension.  We may want to look at redefining the resource urls so that getCapabilities is not included as part of the url.

[2016-08-09 22:20] kfishwick commented on #142
Recommend investigating making this a candidate for fixing https://github.com/ckan/ckanext-spatial/issues/157

[2016-08-10 16:23] h3devin commented on #52
@gjlawran I've added the parent organization to all of the breadcrumb menus on organization pages, it looks like this (long organization names get trimmed):
![screen shot 2016-08-10 at 9 21 25 am](https://cloud.githubusercontent.com/assets/6014656/17561642/e8d078d8-5edb-11e6-8461-50ffeb598212.png)

Did you want to add the parent organization to dataset pages breadcrumb as well?

[2016-08-13 16:01] #85 closed

[2016-08-13 16:01] #99 closed

[2016-08-13 16:01] #104 closed

[2016-08-13 16:01] #121 closed

[2016-08-13 16:01] #135 closed

[2016-08-13 16:01] #136 closed

[2016-08-13 16:01] #138 closed

[2016-08-13 16:01] #141 closed

[2016-08-13 16:01] #142 closed

[2016-08-13 16:01] #145 closed

[2016-08-15 15:20] kfishwick commented on #110
Is this still an issue @Mbrownshoes

[2016-08-15 16:56] kfishwick commented on #102
Can we please get an answer now to @jrods  question above?

[2016-08-15 20:55] gjlawran commented on #102
The DataStore version of this CSV resource  - https://catalogue.data.gov.bc.ca/dataset/bc-data-catalogue-content/resource/4b721abc-46e0-4010-b366-5830c000eb56  - showed double the number of records that the CSV file held.  A manual update of the DataStore was initiated 2016/08/15  - and the resource now has  1468  entries - matching the number of records in the Filestore. @Mbrownshoes  will confir

[2016-08-15 21:08] gjlawran commented on #110
This is resolve in production. Closing.

[2016-08-15 21:08] #110 closed

[2016-08-16 16:58] gjlawran commented on #137
Confirmed this is now working in production as of P1: v1.4.0 c28e02c.

[2016-08-16 16:58] #137 closed

[2016-08-16 17:04] ll911 commented on #123
@kfishwick @gjlawran this is completed in 1.4.0, licenses and sectors json file stored under gogs repo bcdc-licenses-data

[2016-08-16 17:04] #123 closed

[2016-08-16 17:49] Mbrownshoes commented on #52
@kfishwick Yes, please add the parent organization to the dataset page breadcrumb as well. We would like the name of the record removed though, since we already have the record title.
![screen shot 2016-08-16 at 10 36 44 am](https://cloud.githubusercontent.com/assets/3362533/17709684/078070cc-639f-11e6-9b4c-988d99bbb71a.png)

[2016-08-16 18:16] Mbrownshoes commented on #102
@jrods the exporter script updates the content of the https://catalogue.data.gov.bc.ca/dataset/bc-data-catalogue-content resources. The statstrack job updates uses google analytics data to update the site-usage pages (https://catalogue.data.gov.bc.ca/data/site-usage/dataset). It also runs the index rebuild command.
Here's the three paster commands it uses:
paster --plugin=ckan tracking update
past

[2016-08-16 20:42] Mbrownshoes opened #147 "Activity Stream times are not adjusted for GMT"
In the activity streams edits that have just been made are showing they were edited '7 hours ago'. I believe was due to the time being set to GMT, and Leo had fixed this with a patch in Cad -- but it looks like his changes have been overwritten by the most recent deploy.

Modify a record and view https://catalogue.data.gov.bc.ca/dataset/activity/[datasetname] to see an example.

[2016-08-16 20:50] kfishwick commented on #119
This would be a really good contribution, please assume it doesn't exist (read issue https://github.com/ckan/ckan/issues/1517)

UK has fixed this & contributed if you want to review their solution.

[2016-08-16 21:06] kfishwick commented on #96
The current approach for this ticket assumes that we will not store the json formatted API spec in the database, so no schema changes are required.

Suggested approach is to add the type "swagger" view to the allowed views (mod to ini file).

Implement the swagger console similar to map preview resource view on the browse resources .

[2016-08-22 17:35] gjlawran opened #148 "Remove resource_storage location field from UI"
To simplify record entry the resource storage location field will be removed.

The resource storage location field can determined based on presence or absence of the object_name and the URL of the resource it is recommended that this field be removed from the user interface. It will also become non-mandatory.

We will not drop it from the schema at this time - as it may be useful if we start addin

[2016-08-22 17:37] gjlawran commented on #118
We will remove this field from the interface under https://github.com/bcgov/ckanext-bcgov/issues/148

[2016-08-22 17:37] #118 closed

[2016-08-22 18:00] gjlawran opened #149 "Remove the Photo Upload from dataset edit pages"
To avoid UX, UI  and copyright issues we have discouraged the use of the CKAN capability to upload / link photos to datasets. Rather than having users have to remember to avoid this feature we would like to remove it from the user interface.

![image](https://cloud.githubusercontent.com/assets/1154765/17865444/7599dd98-6857-11e6-80de-b83fc6b70eaa.png)

[2016-08-22 22:14] gjlawran commented on #119
@kfishwick I don't believe UK has fixed this - they are using the  ARCHIVER extension - that is recording a resource_timestamp, etag, hash, mime-type and size - which could potentially be used - or this functionality could be brought into core

[2016-08-22 22:37] kfishwick commented on #119
Thanks @gjlawran  actually @jrods has already made a pull request to core and is working through the solution.  https://github.com/ckan/ckan/pull/3205

[2016-08-22 23:41] gjlawran opened #151 "Organization name does not appear to be included in dataset search index"
When a user searches for **BC Stats** from the [datasets page](https://catalogue.data.gov.bc.ca/dataset?q=bc+stats&sort=score+desc%2C+record_publish_date+desc) the response returns 41 datasets with only 17 of these from the **BC Stats** organization.  The organization based search finds that the BC Stats organization has [47 datasets](https://catalogue.data.gov.bc.ca/organization/bc-stats).

The s

[2016-08-23 19:04] jrods commented on #119
@gjlawran where do you want the size of the resource to show on the page?

[2016-08-23 21:07] gjlawran commented on #147
Not fixed by Leo - wasn't fixed and reverted.

[2016-08-23 21:10] kfishwick commented on #147
Please do some analysis, the calls should all be in UTC, we need more information on time correction for local or profile based time zone that occurs in the templates.

[2016-08-24 18:45] kfishwick commented on #119
@gjlawran  and @Mbrownshoes  I would like to split out the manual edit/override of the size value, its a little more complicated.  Can you make a new ticket and we can schedule it when we have time?  Just leave this ticket for the core fix of detecting & storing the size of resources uploaded to the filestore.

[2016-08-24 18:45] kfishwick commented on #119
(we still need an answer for @jrods  question above, where do you want to view the size of the resource record on the page - right now its available in the resource view API only)

[2016-08-24 18:48] ll911 commented on #119
@gjlawran @kfishwick @Mbrownshoes I vote against allow manual overwrite the size for resource. it should be either a computed value or n/a

[2016-08-24 21:59] jrods commented on #147
I was able to reproduce this in my local env. The problem stems from changing the `/etc/sysconfig/clock` to `ZONE="America/Vancouver"`. In my env, it was set to `ZONE="UTC"`

[2016-08-24 22:05] kfishwick commented on #147
@ll911  any chance we can change that parameter in cad?  It seems like it might be actually a better setting anyways.

[2016-08-24 22:46] ll911 commented on #147
Which parm?

[2016-08-24 22:57] kfishwick commented on #147
Change the /etc/sysconfig/clock to ZONE="UTC"

[2016-08-24 23:01] ll911 commented on #147
@kfishwick No, this is root manage system value, should not be changed and should match our current timezone `/etc/sysconfig/clock`
however, I found another parm in ckan
`ckan.display_timezone` default is UTC but it can be changed, after changed to `America/Vancouver`, it doubled the differences from 7hrs to 14hrs
https://cad.data.gov.bc.ca/dataset/activity/creating-geographic-dataset

[2016-08-24 23:02] gjlawran opened #153 "Replace sectors with subjects to align with other jurisdictions"
To enable federation of search across jurisdictions and consistency with BC Government web content management information architecture the catalogue should consider the replacement of the sector classification with subjects.

[2016-08-24 23:39] ll911 commented on #147
@kfishwick @jrods does this have correct time shift
https://github.com/bcgov/ckanext-bcgov/blob/master/ckanext/bcgov/controllers/package.py
convert timezone with pytz
```python```

2016-08-24 23:20:48 UTC+0000

2016-08-24 16:20:48 PDT-0700

[2016-08-25 14:39] kfishwick commented on #147
Is this related to https://github.com/ckan/ckan/issues/2882

[2016-08-25 16:05] Mbrownshoes commented on #100
I'm not entirely sure what was changed here. i don't see a 'Date Created' field on the resource page  or either Cat or Cad. I do see a 'created' field on the resource_show page (https://cad.data.gov.bc.ca/api/3/action/resource_show?id=87051364-3f4c-4b54-bee4-957cd02fe0df).
Perhaps this change was made for a previous release?

[2016-08-25 16:14] Mbrownshoes commented on #106
confirmed in cad

[2016-08-25 16:15] Mbrownshoes commented on #149
verified in cad

[2016-08-25 16:38] Mbrownshoes commented on #119
I think the size values should go next to the resource name, in brackets,  similar to https://data.gov.uk/dataset/monthly-land-registry-property-transaction-data

![screen shot 2016-08-25 at 9 34 59 am](https://cloud.githubusercontent.com/assets/3362533/17977694/9db9cbf6-6aa7-11e6-9b42-2478cdff22f3.png)

[2016-08-25 16:49] ll911 commented on #147
@kfishwick looks like a problem for a while

[2016-08-25 17:23] jrods commented on #147
@ll911 are you also doing something like this on the server?
[code]

[2016-08-25 17:28] ll911 commented on #147
Nope, root managed system cannot be changed as they will be overwritten by HPAS patching cycle.

[2016-08-25 17:32] jrods commented on #147
@ll911 ok, so just an overview so i can match my env, on the server, `/etc/localtime` is UTC, and `/etc/sysconfig/clock` is `ZONE="America/Vancouver"`, correct?

Are those the only settings I need for time on the server? Is there any other changes I need to make for my env to match the server?

[2016-08-25 19:20] jrods commented on #119
@Mbrownshoes what do you want to do for resources (linked data) that have 0 bytes, display or not?
<img width="940" alt="screen shot 2016-08-25 at 12 18 21 pm" src="https://cloud.githubusercontent.com/assets/5874122/17982732/1ab98018-6abe-11e6-91c8-1d5e16c2acec.png">

[2016-08-25 20:22] ll911 commented on #119
I think it should display (external link) for those resources

[2016-08-25 20:32] ll911 commented on #147
@jrods you need to set both system clock and localtime with PST
[code]

[2016-08-25 20:38] jrods commented on #147
@ll911 ok, but how did you specifically changed `/etc/localtime`?

[2016-08-25 20:39] kfishwick commented on #119
I think we should just hide the entire string between ( ) if it is zero.  Thats the current behaviour.

[2016-08-25 20:44] Mbrownshoes commented on #119
Yes, lets hide if the resource isn't an actual file. We could display 'external link' for those files held externally (ftp,pub.data).

[2016-08-25 20:44] ll911 commented on #147
@jrods link to
[code]

[2016-08-25 21:46] gjlawran opened #155 "Show editor names for an organization to all users"
It would be helpful if the names of the editors of an organization were visible so that those looking to publish records could know who to contact regarding record updates.

Can we change the security so that this page
https://catalogue.data.gov.bc.ca/organization/members/databc
is visible to public.

[2016-08-25 22:07] ll911 opened #157 "user page gives server error when not logged in"
sample https://cad.data.gov.bc.ca/user/dbcuser2

ENV: DLV, TEST, PROD

**TESTCASE:**

navigate to http://cad.data.gov.bc.ca/user/dbcuser2

**EXPECTED:**

Access Denied: you must be logged in.

**ACTUAL:**

![aaausererror](https://user-images.githubusercontent.com/3906047/34694782-33515aca-f47d-11e7-814a-a622376222e9.PNG)

**Notes:**

in Delivery I was able to get the following stack trace:
[code]

[2016-08-25 22:12] ll911 commented on #112
@Mbrownshoes if URL corrected, can you close the ticket?

[2016-08-25 23:17] gjlawran opened #158 "Investigate query and determine how to return all records with an object_name value"
It is very helpful to find all records based upon the presence or absence of a value in the object_name field - as this is a way to identify which records are in the BC Geographic Warehouse.

**If** this search should find all the records with a populated object_name value
https://catalogue.data.gov.bc.ca/dataset?q=object_name
https://catalogue.data.gov.bc.ca/api/3/action/package_search?q=object_n

[2016-08-25 23:18] #112 closed

[2016-08-26 17:07] jrods commented on #147
@ll911 what is the db's set timezone?

[2016-08-26 18:52] ll911 commented on #147
Postgresql calls system time, which should be PST, but it can all set by application during the RUNTIME

https://www.postgresql.org/docs/9.1/static/sql-set.html

[2016-08-26 21:51] jrods commented on #147
From my analysis, this looks to be a ckan core issue with many `datetime.datetime.now()` calls being use, since the server isn't using UTC, this causes the time difference.

ckan/ckan#2970 is pretty much the exact same problem.

I'll ask around to see if anybody is working on it for core.

[2016-08-29 16:22] Mbrownshoes opened #159 "Downloads not populated on site-usage page"
In both test and prod the downloads values are not being populated: https://catalogue.data.gov.bc.ca/data/site-usage/dataset?month=2016-08&publisher=databc. The number of views is being added.

I see in both the most recent prod and test statstrack jobs encountered the same error
"OperationalError: (OperationalError) FATAL:  remaining connection slots are reserved for non-replication superuser con

[2016-08-29 16:40] ll911 commented on #130
is this still a problem?

[2016-08-29 18:07] jrods commented on #130
For bcgov/bcdc-devops repo, yes, it's still a problem. I haven't had the time to update that repo due to more important priorities.

[2016-08-30 21:41] Mbrownshoes commented on #119
It looks like resources have to be re-uploaded to the filestore in order to have the file size posted. I'm guessing there's not an easy way around this, or is there?

[2016-08-30 22:23] Mbrownshoes opened #162 "Unable to duplicate a record in cat, cad"
I'm getting server errors when I try and duplicate a record in test (1.5). I click duplicate, change the title from the default to something else (e.g., DUPLICATE dec3-ge0), click add data where I fill out the required fields and add a file and then click 'Add', which leads to a server error.

When I check the activity stream I see the duplicated record with the default duplicate name and url (not

[2016-08-31 18:15] jrods commented on #124
The Leaflet attribution link is added by the library itself. The change would have to be done to the vendor file, leaflet-src.js the reclineview ext in ckan.

[2016-08-31 18:37] jrods commented on #119
@Mbrownshoes a script could be made to utilize the api and update each resource accordingly. But one problem I can see is that for 'resource_update', it needs a data file to be present for the resource's metadata (size and mimetype in this case) to be updated. I don't know if just giving the exact same data file that's on the server will cause duplicates or not. There could be some workarounds if

[2016-08-31 21:25] Mbrownshoes commented on #162
Here's a screenshot of the error I get just after I submit 'add data'. I don't remember seeing this url previously: https://cat.data.gov.bc.ca/dataset/new_resource/a088ea5f-5e98-4137-9213-6dc67cea8808
![screen shot 2016-08-31 at 2 24 12 pm](https://cloud.githubusercontent.com/assets/3362533/18146836/ab595388-6f86-11e6-903b-0200c1d65821.png)

[2016-08-31 23:53] jrods commented on #117
For the example on the ckan demo site, I'm not sure why it doesn't have last_modified set. As of ckan 2.4, each resource that's created/updated with an upload file, will have a last_modified timestamp.

If last_modified doesn't exist in the metadata, what should be displayed? Unknown or nothing? This is to deal with resources that have been uploaded before the feature was included.

Should the tim

[2016-09-01 16:11] Mbrownshoes commented on #117
@jrods looks like it is being populated in Prod https://catalogue.data.gov.bc.ca/api/3/action/resource_show?id=1145c623-ff97-4383-adf5-2a12e9020ce7
and in CAT (1.5) https://cat.data.gov.bc.ca/api/3/action/resource_show?id=45fd1d70-8c5e-464e-8599-724451a19bc0

'last_modified' is also displayed for each resource on package_show so we're good there: https://catalogue.data.gov.bc.ca/api/3/action/packa

[2016-09-01 17:25] jrods opened #163 "Remove 2.3.x and 2.4.x from bcdc-devops repo"
Remove these directories in the repo, as they are not needed anymore. This will reduce the time needed to update the repo with changes to any vagrant settings.

https://github.com/bcgov/bcdc-devops

[2016-09-01 18:54] jrods commented on #117
@Mbrownshoes What should be added/changed for the web view?
Currently for datasets, Record Published and Record Last Modified are displayed. As for resources, Data Published displays, just have Last Modified display under it?

[2016-09-01 20:24] Mbrownshoes commented on #117
@jrods Yes, let's just add 'Resource Last Modified' with the last_modified date at the resource view, just under 'Date Published'

[2016-09-01 20:28] Mbrownshoes commented on #119
@jrods is it possible to just remove the empty '()', so nothing is there, until the resource has been updated?

[2016-09-01 22:47] Mbrownshoes commented on #162
looks like Karen meant to assign this to Jared..

[2016-09-06 16:28] Mbrownshoes commented on #162
@jrods have you been able to make any progress on this?

[2016-09-06 16:32] jrods commented on #162
No progress to report on this. I was able to reproduce this in my local env, but I'm still not sure what the problem is yet.

[2016-09-06 16:45] kfishwick commented on #124
This is not part of the core behaviour and is difficult to change (see above details from @jrods).  I would recommend revisiting this requirement & deciding if it is really necessary.

[2016-09-06 16:57] kfishwick commented on #147
Recommend deferring to the next release, this could be 2-3 days of work (if it affects more than just activity stream, and to coordinate the strategy for fixing it)  and should be integrated into ckan core (and can likely be backported to 1.5 since it is a bug).

[2016-09-08 15:34] Mbrownshoes commented on #162
still occurring in Cad, but looks like you're still working on this.

[2016-09-08 19:47] kfishwick commented on #162
Verified in CAD, can you try it @Mbrownshoes ?

[2016-09-08 19:49] Mbrownshoes commented on #162
Beauty, works!

[2016-09-09 15:41] Mbrownshoes commented on #124
Agreed, we can delay for now.

[2016-09-09 15:56] Mbrownshoes commented on #102
This doesn't seem to be an issue any more. Closing.

[2016-09-09 15:56] #102 closed

[2016-09-09 16:24] jrods commented on #147
I've made PR for activity times above. Note that this does not fix activity times that already have a stored timestamp. I'm not sure on the approach to fixing that. I'm inclined to just leave old timestamps, as they don't seem like they're very crucial (but this isn't my call)

[2016-09-09 18:45] Mbrownshoes commented on #147
Getting a server error on delivery when trying to access activity stream.
logs show this related to the time.
Error - <type 'exceptions.NameError'>: global name 'datatime_' is not defined
[pid: 55356|app: 0|req: 288/288] 142.34.140.32 () {48 vars in 2481 bytes} [Fri Sep  9 11:41:11 2016] GET /dataset/activity/bc-wildfire-active-weather-stations => generated 30065 bytes in 497 msecs (HTTP/1.1 500)

[2016-09-09 18:53] Mbrownshoes commented on #147
Maybe we should push this back to 1.6 since so far it looks like this is the only hold up. Though it's already been merged (after we deployed to cat). Can we roll this change, which isn't working, back?
https://github.com/bcgov/ckan/pull/5

[2016-09-09 18:53] jrods commented on #147
whoops, typo, fixed here: https://github.com/bcgov/ckan/pull/7

[2016-09-09 21:11] Mbrownshoes commented on #147
Don't think this deployed to cad, I think only merges to ckanext-bcgov auto deploy.

[2016-09-13 18:23] kfishwick commented on #147
Getting internal server error when viewing Activity Stream in cad.

[2016-09-13 19:31] jrods commented on #147
@ll911 will you please merge in the above PR and deploy ckan with those changes to delivery?

[2016-09-13 21:04] ll911 commented on #147
done

[2016-09-13 22:24] kfishwick commented on #147
Seems to work in CAD, assigning over to Matt for verification.

[2016-09-14 23:14] Mbrownshoes commented on #130
@ll911 can you confirm that this is working?

[2016-09-14 23:21] ll911 commented on #130
i don’t have problem locally, vagrant base image should be update to use cents 6.8

[2016-09-14 23:24] Mbrownshoes commented on #130
@jrods is this complete or do we need to push to the next release?

[2016-09-14 23:26] jrods commented on #130
This is complete. The svn repo has been updated with the needed changes.

[2016-09-14 23:52] jrods commented on #158
The query needs additional information to search on a specific field. For searching datasets with a set `object_name`, enter something like this into the search field:
eg. `object_name:["" TO *]`.
If you want Geographic datasets without an `object_name`, add a dash infront of the field to negate that search option (will also need to restrict the `type` field to `Geographic` because only geographic

[2016-09-15 00:33] gjlawran opened #168 "Move the Data Quality and Lineage Statement fields up under the Purpose field"
The Data Quality and Lineage Statement fields should appear in the Additional Information section directly under the Purpose field.

Looks like this was resolved by https://github.com/bcgov/ckanext-bcgov/pull/28  - but has somehow reverted?

[2016-09-15 00:37] gjlawran opened #169 "More Information should not display when not populated"
The More Information field under the Additional Information header should only display when it is populated with content - hyperlinks have been entered. This behaviour should be similar to the Purpose, Lineage and Data Quality fields that are optional and should only display when there is content present.

[2016-09-15 16:27] jrods commented on #155
This page is already visible to the public https://catalogue.data.gov.bc.ca/organization/members/databc , problem is it's showing admin controls
<img width="1019" alt="screen shot 2016-09-15 at 9 25 51 am" src="https://cloud.githubusercontent.com/assets/5874122/18558068/705ca07c-7b26-11e6-8255-3b35f4b058d5.png">

[2016-09-15 16:27] jrods commented on #155
Would admins be visible as well, or just editors?

[2016-09-15 17:05] Mbrownshoes commented on #155
@jrods How difficult would it be to hide the admin controls, so you just see the names?

[2016-09-15 17:06] jrods commented on #155
I'll take a look to see what needs to be done, I think it's just a matter of setting up authorization checks in the template for the admin controls.

[2016-09-15 18:41] gjlawran opened #170 "Organization name of records should link to organization page not dataset page"
**ENV:** DLV, TEST, PROD

**TESTCASE:**

* navigate to an organization, (any organization) from the `organization` link in the header
* navigate to any dataset within an organization, (clicking the organization will run a search. click any result)
* Under the dataset title click the second link in the `Published by the` line:
![aaaorg_not_working](https://user-images.githubusercontent.com/3906047/

[2016-09-15 21:45] jrods commented on #155
I made the PR, but before merging, what user roles should be displayed for each role when viewing the member list?

eg. 'public/anonymous' can only see editors, 'admin' can see all users part of the org

[2016-09-15 22:02] jrods commented on #169
@gjlawran @Mbrownshoes is there an example i can take a look at?

[2016-09-20 15:52] Mbrownshoes opened #176 "Non-used fields showing for application/webservice type"
'Data quality' and 'Lineage statement' are incorrectly showing in the UI for application and webservice record type, though these fields are not shown when editing records of these types (they are not part of the schema).

![screen shot 2016-09-20 at 8 49 05 am](https://cloud.githubusercontent.com/assets/3362533/18677824/fce8608a-7f0e-11e6-8eed-a22b68073c78.png)

These fields should be removed fro

[2016-09-20 17:45] kfishwick commented on #176
Should be a fairly straightforward fix, do you have a target milestone?

[2016-09-20 23:24] #130 closed

[2016-09-21 00:17] #52 closed

[2016-09-21 00:17] #79 closed

[2016-09-21 00:17] #100 closed

[2016-09-21 00:17] #106 closed

[2016-09-21 00:17] #108 closed

[2016-09-21 00:17] #115 closed

[2016-09-21 00:17] #117 closed

[2016-09-21 00:17] #119 closed

[2016-09-21 00:17] #122 closed

[2016-09-21 00:17] #128 closed

[2016-09-21 00:17] #147 closed

[2016-09-21 00:17] #148 closed

[2016-09-21 00:17] #149 closed

[2016-09-21 00:17] #162 closed

[2016-09-21 16:28] Mbrownshoes opened #177 "google analytics not registering downloads"
Google analytics is showing and recording page visits, however downloads are not being registered as events from July 13 onward.
Visits:
![screen shot 2016-09-21 at 9 18 33 am](https://cloud.githubusercontent.com/assets/3362533/18719455/48458468-7fdc-11e6-969f-5898894cf184.png)
Events (downloads):
![screen shot 2016-09-21 at 9 19 12 am](https://cloud.githubusercontent.com/assets/3362533/18719476/5

[2016-09-21 18:11] Mbrownshoes commented on #176
1.6, if possible.

[2016-09-21 20:06] Mbrownshoes commented on #155
@jrods I think just removing the controls is the important thing. They should just be visible to admins. thanks

[2016-09-21 21:42] kfishwick commented on #155
Sounds good, this is done.

[2016-09-21 21:47] kfishwick commented on #139
We can't do this for a while, there are a number of fixes in our forked ckan that will not be merged into core (because they are not going to backport some of them).  It might have to wait until we move to 2.6 or later.

[2016-09-23 19:21] jrods commented on #176
@Mbrownshoes related to #168 , do you want Data Quality and Lineage Statement to always display or only display if there's a value for those fields?

[2016-09-23 20:08] Mbrownshoes commented on #176
Good question. I think we should always have them displayed for those types, for now.

[2016-09-26 19:14] jrods commented on #177
I may have found the issue, one of the js scripts that gets loaded in ckan wasn't using the new method of making a tracking request. Won't be able to tell if that was causing the problem, will need to have it be tested in cat.

[2016-09-26 20:40] jrods commented on #177
@Mbrownshoes @Darv72 is cad setup with google-analytics? will you be able to check to see if it's now tracking dowanloads now?

[2016-09-26 21:59] Mbrownshoes commented on #177
@jrods Yes, we can see the downloads on cad. @gjlawran are we going to try and push this through as 1.5.2?

[2016-09-27 12:41] gjlawran opened #181 "Map previews that use geoview extension do not auto zoom to scale range"
This issue explains problem with current extension - GeoView - used for WMS previews.

https://github.com/ckan/ckanext-geoview/issues/36

[2016-09-29 17:09] Mbrownshoes opened #185 "Unable to add new organizations [urgent]"
We're getting a server error when attempting to add a new organization in prod and test. I'm not seeing the 'Add Organization' button in cad.
This is urgent. Please fix ASAP.

[2016-09-29 17:13] jrods commented on #185
Ok, I'll have a look, is it just an error 500 page on test/prod?
For cad, is the 'Add Org' button not showing for everyone (editors/admins)?

[2016-09-29 17:16] jrods commented on #185
@Mbrownshoes in my local env, my sysadmin account can see the button, but as an editor i can't. What's the correct use case for adding organizations?

<img width="1033" alt="screen shot 2016-09-29 at 10 15 44 am" src="https://cloud.githubusercontent.com/assets/5874122/18964460/d67ba756-862d-11e6-83dc-eb2a9b3432ba.png">

[2016-09-29 17:19] Mbrownshoes commented on #185
It’s the server error message displayed in the catalogue:

[cid:image001.png@01D21A3B.14BEB1C0]

Editors aren’t able to add new organizations. I do have admin access for CAD and can’t see the button.

From: Jared Smith <notifications@github.com>
Reply-To: bcgov/ckanext-bcgov <reply@reply.github.com>
Date: Thursday, September 29, 2016 at 10:13 AM
To: bcgov/ckanext-bcgov <ckanext-bcgov@noreply.githu

[2016-09-29 17:23] Mbrownshoes commented on #185
@jrods Only admin's are able to add organizations and in Prod and Test the button is showing, the button is shown but when pressed it results in a server error.

![screen shot 2016-09-29 at 10 22 19 am](https://cloud.githubusercontent.com/assets/3362533/18964684/cb34dae2-862e-11e6-9ced-b47df9eae33e.png)
In Cad, I'm not seeing the button at all.

[2016-09-29 17:53] jrods commented on #185
@Mbrownshoes i think i know what the problem is for the add org button. The 'admin' role is organization/sub org specific, this isn't the same as 'sysadmin'. So when a user is an 'admin' for an org, they don't have the same permissions as what a 'sysadmin' has in ckan; Ckan still considers that user just a 'member' and not a 'sysadmin'

[2016-09-29 17:57] jrods commented on #185
@Mbrownshoes as for the error in prod/test when adding a new org, i am getting the same error message in my local env. I'm still doing some analysis on that issue.

[2016-09-29 19:31] jrods commented on #185
@Mbrownshoes I have found and fix the issues, plus some additional changes for the ckan fork.
First, merge this PR for ckan core: https://github.com/bcgov/ckan/pull/10, it includes missing migration scripts, needed for db upgrade command.

Second, this PR will fix the error when adding a new org: https://github.com/bcgov/ckanext-bcgov/pull/186

[2016-09-30 16:21] gjlawran opened #188 "Resource last modified date is presenting GMT rather than local time"
As a user I would like to see all dates and times presented as local time rather than GMT.

The last release,which added the resource update date and time, is based on issue https://github.com/bcgov/ckanext-bcgov/issues/117

[2016-09-30 17:13] kfishwick commented on #185
@Mbrownshoes  can you please test this in cad?

[2016-10-01 00:01] gjlawran opened #192 "The edit template for Applications record types should be changed to match the display template"
Edit is
- Who can view this data?
- Who can download this data?

Display is:
Who can access this application?    Public
Who can view this record?   Public

Also remove the License field from the edit template - should default to access only.

[2016-10-05 17:45] jrods commented on #188
@gjlawran can you provide examples? On cad, i'm seeing last modified for resources displayed in local time.

[2016-10-05 21:07] Mbrownshoes opened #193 "Map and Table tabs showing up automatically in the Resource View"
For csv files added to the datastore 'Map' and 'Table' tabs and now automatically shown next to 'Data Explorer'
![screen shot 2016-10-05 at 1 38 56 pm](https://cloud.githubusercontent.com/assets/3362533/19131361/fa3ed6ec-8b03-11e6-8ce4-e2e9d06275a0.png)

I believe if we remove 'recline_grid_view' and 'recline_map_view' from the default_views we should be able to add these as views, but not have th

[2016-10-06 22:53] Mbrownshoes opened #194 "New admins are unable to edit records in all organizations in 1.5.2"
New admin's unable to edit records in all organizations in 1.5.2 (currently in Test and Delivery). I added a new user as an admin in both delivery, test and production. Only in Prod (1.5.1) was the admin able to edit records in organizations other than the one they were added in.

An admin has to be first created in an organization but they should then appear in all organizations. New admins are o

[2016-10-07 17:24] jrods commented on #194
@Mbrownshoes I can't seem to re-create this issue in my env, with using the tagged version of 1.5.1 of the bcgov ext. The new admin has to be added to the org to edit any of the records that belong to that org.

@Mbrownshoes @gjlawran @kfishwick @Darv72 What is the correct behavior that admins should have, with regarding to access of records in other organizations? I think it makes sense having ad

[2016-10-07 18:04] Mbrownshoes commented on #194
@jrods The current behaviour in production (1.5.1) is that once an user is added as an admin for one organization, they had admin access in all orgs. This is an efficient way of giving one of us the ability to edit records across all orgs.
This behaviour (which is what we want) still works for us in 1.5.1, but is broken in 1.5.2.

[2016-10-11 16:47] kfishwick commented on #194
@Mbrownshoes  I believe this should happen when an admin user logs in.  Can you grant Jared's idir admin access in cad?

[2016-10-11 16:57] Mbrownshoes commented on #194
@kfishwick @jrods now has admin access.

[2016-10-11 17:07] kfishwick commented on #194
Thanks @Mbrownshoes.  One other question, I thought the users had to be granted admin in WebADE, not in ckan.  Did that change?

[2016-10-11 17:35] Mbrownshoes commented on #194
@kfishwick, yes you're right. I just checked and it is working as it should in delivery - I was able to create an admin by first granting in ADAM and then in ckan. @jrods should not have admin access for all orgs in delivery. Please confirm. In Test new admin's are still not able to edit records in all orgs. I'll try testing with another user.

[2016-10-11 17:42] jrods commented on #194
I only see my account in the DataBC org and has the admin role. My account is not in the parent org. In my cookies, my edc_auth token is jaresmit_..._EDITOR

[2016-10-11 21:17] Mbrownshoes commented on #194
did you log out and back in again? Once you do that you should have admin access to all orgs.

[2016-10-11 21:22] jrods commented on #194
@Mbrownshoes yes, i have admin control now, i can go into any record and edit. My edc_auth cookie also has ADMIN in it.

[2016-10-13 16:58] Mbrownshoes opened #196 "Update to ckan.ini"
This ticket is to keep track of changes made to the dlv.ini file.
- added recline_grid_view as a ckan_plugin so that editor can create a chart that can be embeded.
- removed recline_map_view and recline_grid_view from ckan.views.default_views so they don't appear by default as tabs next to the data explorer.

@ll911 @gjlawran @Darv72 @kfishwick @jrods

[2016-10-13 18:11] kfishwick commented on #194
Matt can you please confirm this is not a bug?

[2016-10-13 18:16] kfishwick commented on #159
@Darv72  can you please grant mine & Jareds' github account access to see & execute the statstrack job in delivery?

[2016-10-13 18:35] Darv72 commented on #159
@kfishwick the stats track job for delivery is in our production Jenkins environment.  It needs to be accessed with IDIR credentials.  Can you please provide me your IDIR ID as well as Jared's?

[2016-10-13 18:50] jrods commented on #159
@Darv72 my idir account is: jaresmit , karen's idir account is: kfishwic

[2016-10-13 20:02] Darv72 commented on #159
Access has been granted as requested.

[2016-10-13 20:38] Mbrownshoes commented on #194
This appears to be working in delivery.

[2016-10-13 20:43] kfishwick commented on #194
There were no fixes involved here, I think this ticket should be closed as it was user error (users were made admins in CKAN instead of via WebADE).

[2016-10-13 21:20] Mbrownshoes opened #197 "provide direction for adding new resource geographic projections as a vocab"
We have a new projection, which I added here:
https://github.com/bcgov/ckanext-bcgov/commit/c26e91b074708096a3959dbd141edb19c6ec9cc0

It's been merged and deployed in delivery but the new projection is not visible in the dropdown when creating a resource for a geographic record. Are there additional changes needed?

@ll911 @Darv72 @gjlawran

[2016-10-13 22:03] #194 closed

[2016-10-13 22:09] Mbrownshoes commented on #197
I'm removing the change made to ckanext/bcgov/scripts/data/edc-vocabs.json
and moving this issue to the 1.6  release

[2016-10-13 23:55] #163 closed

[2016-10-18 20:36] ll911 opened #199 "better error handling"
any `ckan.logic` error is displayed as "server error" on web page, this can mislead user or troubleshooting, we need display sth more useful other than "server error"

[2016-10-18 23:33] jrods commented on #159
I believe I found the error that was causing missing Download stats.

@Mbrownshoes can you merge PR bcgov/ckanext-ga-report#6 and initiate a new build of CAD please?

[2016-10-19 19:15] jrods commented on #159
Download stats working on CAD now.

Before:
<img width="1016" alt="screen shot 2016-10-19 at 11 54 43 am" src="https://cloud.githubusercontent.com/assets/5874122/19533660/8e902c32-95f5-11e6-969a-6f90dd93fa7e.png">

After:
<img width="1039" alt="screen shot 2016-10-19 at 12 13 47 pm" src="https://cloud.githubusercontent.com/assets/5874122/19533661/8e9c74e2-95f5-11e6-920b-7e5cbb2cb881.png">

[2016-10-19 21:27] jrods commented on #159
@Mbrownshoes the fix is just in the ckanext-ga-report repo, for CAT just need to get the latest version of the ga-report ext and run the statstrack job for CAT.

[2016-10-19 21:37] Mbrownshoes commented on #159
Looks like this was merged. @Darv72 can you redeploy cad?

[2016-10-19 21:39] jrods commented on #159
@Mbrownshoes @Darv72 it's already deployed to CAD and working there. You should be able to verify. @kfishwick already did a re-deploy

[2016-10-20 15:41] gjlawran opened #200 "Extension is broken by change to Google API"
As referenced in the Google-Analytics Extension repo - https://github.com/ckan/ckanext-googleanalytics/issues/2 - a change to the Google API has resulted in issues with this extension. Please investigate and estimate.

Our current extension cannot show Site Usage by Month for Totals  https://catalogue.data.gov.bc.ca/data/site-usage . This may not be associated with the Google API change - but also

[2016-10-20 20:34] Mbrownshoes commented on #200
This must be related to: https://github.com/bcgov/ckanext-bcgov/issues/177

[2016-10-20 20:36] Mbrownshoes commented on #177
Downloads are being registered in CAT and are showing on the site-usage page.

[2016-10-20 21:44] kfishwick commented on #200
I think #177  maybe have the same root cause but there might be additional areas of the site that need to be fixed.  Assigning to @Khalegh-H3  for analysis.

[2016-10-21 20:17] Mbrownshoes commented on #159
It looks like downloads were populated on site usage. Will download a bunch more today and see if they appear on monday

[2016-10-24 19:25] kfishwick commented on #200
We don't think https://github.com/ckan/ckanext-googleanalytics/issues/2 is relevant - that is a 2012 reported issue and we are already using the oauth2 to connect to GA.

[2016-10-25 15:37] Mbrownshoes commented on #159
working in test

[2016-10-25 15:43] Mbrownshoes commented on #158
working on a table to display on a webpage

[2016-10-25 15:48] Mbrownshoes commented on #177
google analytics is stil showing Missing Tracking Code error
Page ...data.gov.bc.ca for property ...data.gov.bc.ca is missing valid tracking code.

[2016-10-25 16:26] kfishwick commented on #196
@jrods  can you please upgrade the vagrant ini file & verify everything is working?

[2016-10-25 17:07] kfishwick commented on #197
@jrods  can you please provide instructions for how to do this?

[2016-10-25 17:11] Mbrownshoes commented on #197
@jrods this is the name of the new projection "EPSG_3153 - NAD83(CSRS) BC Albers"

[2016-10-25 17:13] gjlawran commented on #96
Banders will fork hwy3 repo. https://github.com/HighwayThree/ckanext-bcgov

[2016-10-26 21:09] gjlawran commented on #199
Investigate if it would be possible to make this a configurable option in core CKAN.

[2016-10-26 21:16] gjlawran commented on #193
Added CSV file to TEST version v1.5.2 8d69571 and no grid_view and map_view were created by default.

[2016-10-26 21:16] #193 closed

[2016-10-26 23:00] Mbrownshoes commented on #76
We have a situation as described above -- an existing user has been removed as an editor from organization A but remains an editor for organization B. The user is still receiving notifications from org A. I haven't been able to find a reference to how this was supposedly fixed.

[2016-10-27 16:01] Mbrownshoes opened #203 "Automated test script failing to run"
It seems our automated tests are having problems loading the selenium webdriver (both Chrome and Firefox).
The problem appears to be here in webdriver.py

[code]

We've never encountered this in the past and there hasn't been change to the code repo.

[2016-10-27 17:02] jrods commented on #76
@Mbrownshoes what environment was this in? Are these orgs unrelated, as in one or the other isn't a sub org of the other org?

[2016-10-27 17:53] gjlawran commented on #200
Confirmed - this issue was resolved in a previous core version - our new ticket https://github.com/bcgov/ckanext-bcgov/issues/177 is  tracking the problem with downloads not being registered.

[2016-10-27 17:53] #200 closed

[2016-10-27 20:47] Mbrownshoes commented on #76
This is production, these sub orgs are unrelated and are in different Orgs. However, there are records in org B that used to be in org A - but transferred  over about a year ago.  I'm testing this out in cat and it looks like only admin's are receiving notifications, but editor's aren't.
@jrods, I'll test in CAD.

[2016-10-27 22:01] Mbrownshoes opened #205 "Editors not receiving notifications in test and delivery"
Only Admin's are receiving "pending publish" notifications in cat and cad. Editors should also be receiving these. Editors are receiving notifications in production.

In delivery this might be intentional as 'ckan.activity_streams_email_notifications = true' is commented out, but it isn't in cat. Again, admins do receive them.
For our test editor account the last notification for cat was on Aug 31

[2016-10-28 23:43] banders opened #209 "Create a CKAN extension to show Swagger UI for Web Service datasets"

[2016-10-28 23:50] banders commented on #209
This issue is intended to supersede [Issue 96](https://github.com/bcgov/ckanext-bcgov/issues/96).

Suggested Approach:
- Develop as a standalone extension.
- Embed the swagger UI in the dataset view, not in a resource view as was suggested in the discussion around Issue 96.

[2016-10-31 21:36] gjlawran opened #210 "User interface improvements for resources explore / download"
As a user I find the explore button associated with resources confusing.  I don't expect to download a file when I click on a name of a resource, and I don't know how to download a file when I am on a resource page. I would find it less confusing if I could see the word "Download" from the package/record page and when I am on a package resource page.

We will do 3 things to attempt to improve the

[2016-10-31 23:30] Mbrownshoes commented on #203
@kfishwick looks like part of the issue was that I needed to update the chrome webdriver. It looks like this change has affected the tests as they are still failing to run:
AttributeError: 'WebDriver' object has no attribute 'url'

I'll continue to investigate a bit.

[2016-11-01 00:08] jrods commented on #76
@Mbrownshoes it seems i have made the ~~wrong~~  fix the first time around.
The query that got the user list for the org to send emails to, ~~was using the user state rather then the state in members, the members table is the one that keeps track of users within the org.~~ needs to check user state to see if the user is active or not **and** needs to check if the user is active in the org (member

[2016-11-01 16:26] gjlawran opened #212 "Simple geographic data selection tool"
As a user,  I don't want to go to a different user interface to extract a geographic dataset from the BC Geographic Warehouse because this is confusing and time consuming.

I would like to have a simple interface where I can select the format, portion of the data I want, geographic projection and then either download the data directly or  if necessary provide an email to be notified when the downl

[2016-11-01 16:32] kfishwick commented on #76
This is fixed, can we put it in 1.5.2?

[2016-11-01 16:34] kfishwick commented on #205
This is as designed,  admins only receive the pending notices and editors only receive rejected/published/archived.

[2016-11-01 17:31] Mbrownshoes commented on #205
verified in CAD

[2016-11-01 17:31] Mbrownshoes commented on #76
verified in CAD

[2016-11-01 18:55] gjlawran opened #213 "Creating resources for geographic data from the geographic warehouse"
As an editor when I am creating a record for a geographic dataset the system should generate one resource for each format that is available and should populate many of the fields automatically.

When the objectname field is populated and the editor is editing a  record and the new "+ Add New Resource" or the "Next Add Data" buttons are clicked the interface should provide the editor a modal OFI re

[2016-11-01 23:04] h3devin commented on #192
@gjlawran

To clarify - did you want to hide the License field only when editing, only when editing Applications, or for editing & adding as well (again just Applications, or all dataset types)?

Additionally, I'm seeing fields for both "Who can view this data?" and "Who can view this record?" in the edit screen. Did you want to hide the "Who can view this data?" field?

[2016-11-02 16:08] LeeZeitz commented on #203
@Mbrownshoes  The new WebDriver has changed that attribute from "driver.url" to "driver.command_executor._url"
I haven't got that particular functionality working in my Vagrant yet, but I think that's because of some weird cookie stuff revolving around "localhost". I expect it should work with any other url, i.e. development, test, or prod.

[2016-11-02 16:51] gjlawran commented on #213
This OFI modal window needs to be able to add, delete and update the OFI resources.

There some automatic fields populated.
There are some manual fields entered that are added to all resources.

[2016-11-02 18:10] Mbrownshoes commented on #203
@LeeZeitz great will test it out. thanks

[2016-11-03 20:59] Mbrownshoes opened #216 "recline_map_view not showing points in correct locations"
When creating a map view, the points with correct latitude and longitude are being placed incorrectly
![screen shot 2016-11-03 at 1 52 41 pm](https://cloud.githubusercontent.com/assets/3362533/19984855/62750102-a1cd-11e6-8740-2bebac4835fa.png)

Map view is working in 1.51 but not in 1.5.3. I've tested this with a few resources.

[2016-11-03 21:26] Mbrownshoes commented on #216
This isn't consistent, now it is looking correct
https://cat.data.gov.bc.ca/dataset/test-1-5-data/resource/0c1cbc16-e9ba-4256-a330-e1c378310103?view_id=cf3ffb1c-254e-48c4-8947-8bd1ad4150a5

[2016-11-04 15:46] #205 closed

[2016-11-04 15:48] #176 closed

[2016-11-04 15:49] #177 closed

[2016-11-04 15:49] #168 closed

[2016-11-04 15:50] #155 closed

[2016-11-04 15:51] #169 closed

[2016-11-04 15:52] #185 closed

[2016-11-04 15:52] #159 closed

[2016-11-04 16:02] #76 closed

[2016-11-04 16:09] Mbrownshoes opened #217 "When editing an organization, directory incorrectly shows 'members'"
<img width="1085" alt="screen shot 2016-11-04 at 9 03 51 am" src="https://cloud.githubusercontent.com/assets/3362533/20012880/4fe8011e-a26e-11e6-92f5-be0c02a57bdc.png">

It should say 'Edit' instead of 'Members' when editing an organization.

[2016-11-07 22:30] kfishwick commented on #96
Has this issue been superceded by issue #209?

[2016-11-07 22:35] kfishwick commented on #199
Server error handling is default CKAN core implementation, detailed information is sometimes dumped to the log file.  Can we get more information on core changes you would like to see?

Note that when we encounter a known exception we usually display an appropriate error message rather than "internal server error".  So, in some cases if this is not happening we should raise a bug here for that cas

[2016-11-07 22:55] Mbrownshoes opened #218 "Groups feature not working on TST"
We have a user wanting to try the grouping feature. I created a new group in tst, but when I try navigating to it, or any other group. I receive a server error message. When I try visiting a group page on deliver I get a '...data.gov.bc.ca is currently unable to handle this request'.

[2016-11-08 00:08] jrods commented on #217
@Mbrownshoes I've checked in cad, it now displays 'Edit' instead of 'Members'

[2016-11-08 00:30] Mbrownshoes commented on #217
Hmm, I see the members page also says 'edit' now. I assume this is due to us separating the members from the organization edit page.

[2016-11-08 00:35] jrods commented on #217
Looks like this is because both the org/members page and org/edit page use the same base template, I'm looking into this problem now

[2016-11-08 16:56] gjlawran commented on #96
This issue is intended to supersede Issue 96.

The purpose of this issue is to add a swagger preview capability to CKAN which will allow "Web Service/API" datasets to show an interactive API console corresponding to the web service's swagger definition file. The API console itself can be constructed from a swagger file using the existing Swagger UI tool.

Suggested Approach:

Develop as a standalo

[2016-11-08 16:57] gjlawran commented on #209
Moved to 96.

[2016-11-08 16:57] #209 closed

[2016-11-08 17:11] kfishwick commented on #212
Small detail, our decision with issue 213 was to create resources for each format, so the user would not actually be able to select a format.

[2016-11-08 17:11] kfishwick commented on #212
Small detail, our decision with issue 213 was to create resources for each format, so the user would not actually be able to select a format.

[2016-11-08 17:21] kfishwick commented on #199
Two outcomes after Nov 8 status:
1.  Look at the CKAN issue, and ask at the CKAN meeting if there is any plan to improve this area.
2.  Look at, if we can capture a internal server error and redirect the front end to something nicer (A custom error 500 page basically).

[2016-11-09 01:33] gjlawran commented on #192
@h3devin Thanks for the questions.

1) Remove the license field from the edit screen - default the value to Access Only for display purposes.

2( Remove who "Who can download this dataset'  field from the edit screen. It is already removed from display screen.

3) 'Who can view this Record'  should remain on both the edit and display screens.

4) On the edit screen relabel "Who can view this datas

[2016-11-09 01:41] gjlawran opened #222 "Prepare JS for a Leaflet based selection map that can report the area of the map to the DOM"
A simple selection map  will allow a user to zoom in and out and pan around - the geographic bounds (DD lat and lng) will be shared with the routine that will make the API call to OFI.

This Leaflet map will be a DIV in ...https://github.com/gjlawran/gdst .

Also the area of the current map size in hectares (ha) needs to be available to the DOM so that the Submit Download button can be activated o

[2016-11-09 01:43] gjlawran commented on #222
@banders  will look at the JS for this issue as he is familiar with Leaflet.

[2016-11-10 00:06] gjlawran opened #223 "Provide monthly views and downloads for a publisher for entire time horizon"
As a data custodian, I would like to obtain the views and downloads for my datasets and their resources at a monthly interval.

This [interface](https://catalogue.data.gov.bc.ca/data/site-usage/dataset?month=&publisher=court-services) lets me visualize statistics for my datasets by month - although the graph doesn't indicate if it is downloads or visits.

However, I have to change the selector for

[2016-11-15 15:04] gjlawran commented on #218
Confirmed not working. I can add dataset to groups but attempting to display the group produces a Server Error response on CAT with v1.5.3 b727cb3

[2016-11-15 21:21] gjlawran opened #224 "Duplicate CSV file formats in test"
We have duplicate entries for 'CSV' file formats showing up in the faceted search on datasets page in our test environment. Please investigate and recommend a solution to remove.

[2016-11-15 21:27] Khalegh-H3 commented on #192
@gjlawran

If "Who can download this dataset" must be removed, then the schema for application datasets types must be changed. As, it will throw missing error on dataset create/edit when no value is given for download_audience field. And, you don't want any application type record to be listed on "Download Permission" search?

[2016-11-15 23:57] Khalegh-H3 commented on #197
@Mbrownshoes, @gjlawran

New vocabulary tags must be added either by api calls or by running create_vocabs.py script. The script goes through the list of the vocabularies provided by edc-vocabs.json and adds any new vocabularies.
Please not that the script is using base.py  and needs config/import.ini.
But probably the easiest way to add a new tag to an available vocabulary,in this case projection

[2016-11-16 00:33] Mbrownshoes commented on #158
the table to do this is in cat_tools.

[2016-11-16 13:29] gjlawran commented on #216
Still a problem for these resource views ...
https://cat.data.gov.bc.ca/dataset/bc-public-libraries-systems-branches-and-locations/resource/93da6d3c-86aa-4b82-a1fd-247c7a9df01e?view_id=023e31cd-b0c2-4a2f-8466-5d46d4ffe7f6

[2016-11-16 22:40] banders commented on #212
I forked the repo with the UI prototype, and added a leaflet map.  The "order" button is enabled/disabled based on the map area.

@gjlawran: I created a pull request with my changes to the UI prototype.  Perhaps you can merge my changes back into your repo..?

[2016-11-16 23:46] kfishwick commented on #213
@gjlawran  we would like to talk about the behaviour for edit dataset (manage OFI resources).  Currently, on the resource page you see "Manage" next to each resource.

For the set of OFI resources we have a couple options.
1.  Leave the "Manage" button next to each OFI resource, but have it pop up the modal window that will actually update all OFI resources with any changes you make to resource me

[2016-11-17 14:37] gjlawran commented on #153
From the Canadian federal government's taxonomy [site](http://www.thesaurus.gc.ca/default.asp?lang=En&n=EAEAD1E6-1)  the 19 subjects are:
- AA Arts, Music, Literature
- AG Agriculture
- EC Economics and Industry
- ET Education and Training
- FM Form descriptors
- GV Government and Politics
- HE Health and Safety
- HI History and Archaeology
- IN Information and Communications
- LB Labour
- LN Lang

[2016-11-17 21:47] LeeZeitz commented on #203
@Mbrownshoes I didn't find it in any of their documentation, I had a look at the source code and found it in there.

[2016-11-17 22:09] Mbrownshoes commented on #203
@kfishwick @LeeZeitz have the tests been updated (for the UI changes, issues on the gogs site)?

[2016-11-17 22:20] kfishwick commented on #203
Matt, we are working through test changes but this particular ticket is code complete.

[2016-11-17 22:33] Mbrownshoes commented on #203
sounds good. Yeah, gogs issues aren't great for tracking.. Maybe when the tests are updated we can great an issue here to keep track of the changes. Either place works for now. Eventually we should get the tests moved over to github.

[2016-11-18 22:17] Khalegh-H3 commented on #151
@gjlawran

Search for BC Stats in data catalogue returns 89 datasets and exactly 47 of them belong to Data BC.

![image](https://cloud.githubusercontent.com/assets/6463284/20448447/dbecefbe-ad98-11e6-9bb0-42d9adf6255c.png)

And you can access all 47 by faceted search and selecting BC Stat from search result

![image](https://cloud.githubusercontent.com/assets/6463284/20448474/07972d6e-ad99-11e6-80

[2016-11-18 22:47] Khalegh-H3 commented on #218
@gjlawran

I could generate the same error locally. The error happens in group read template. User data is missing when displaying group datasets.

[2016-11-18 23:03] gjlawran opened #231 "Boostrap CSS resource requested in OpenLayers resource previewer is 404"
In production - resource webpages that use the OpenLayers map previewer - e.g. these records that have WMS resources:

https://catalogue.data.gov.bc.ca/dataset/tantalis-regional-districts/resource/ad41d2be-4df2-44ad-af95-
570a15781a52
https://catalogue.data.gov.bc.ca/dataset/important-fossil-areas/resource/ae7458ae-500c-4c58-96e8-ea9c40639b1d

are generating a 404 response for this resource  https

[2016-11-21 22:20] gjlawran commented on #213
@kfishwick I prefer Option 1:

Also I note the existing button has a spelling mistake in CAD - and the delivery tag version has not been updated. Still showing 1.5.3.

[2016-11-22 17:30] Mbrownshoes commented on #222
@banders @jrods the resource id that contains the object names and maximum downloadable area is here:
.../resource/6f370640-fe58-4aa9-832a-f6f615d5a335

[2016-11-22 17:33] jrods commented on #222
@Mbrownshoes which env is that resource in, as well, what dataset?

[2016-11-22 18:24] banders commented on #222
@jrods is there already a model window that I should add the geographical data selection tool into?  If so, what are the relevant files for that window's UI?  If not, can you advise on where to open the modal window from?

[2016-11-22 18:35] jrods commented on #222
@banders the modal window currently only handles managing ofi resources. It gets called in the templates as a ckan resource for the template itself and the js file that drives it

the modal template: https://github.com/HighwayThree/ckanext-bcgov/blob/ofi_proto/ckanext/bcgov/templates/ofi/ofi_modal.html
the modal js: https://github.com/HighwayThree/ckanext-bcgov/blob/ofi_proto/ckanext/bcgov/fanstat

[2016-11-22 20:52] ll911 commented on #139
@gjlawran @kfishwick ckan core 2.6+ requires PostgreSQL 9.2+, SOLR 5.x +.
CKAN core 2.7+ also added additional component redis to replace memcached for session manager.

[2016-11-22 22:18] Mbrownshoes opened #237 "Reordering resources not working"
When an editor or an admin attempts to reorder a record's resources the new order is often not retained when viewing the main record page. Furthermore, after refreshing the main record sometimes the order of the records jumps around. This has been observed in several records.
I just saved the order of these resources to:
![screen shot 2016-11-22 at 2 18 59 pm](https://cloud.githubusercontent.com/a

[2016-11-22 23:49] LeeZeitz commented on #199
Update:

Ckan documentation says that IRoutes.before_map gets called before the routes map is generated; however, in routing.make_map, the error handler route is generated before calling before_map. This prevents us from being able to connect error actions to our own customised error controller(s).
We have opened an issue in the core ckan community.

Also, even if we do modify the order of these o

[2016-11-23 01:46] banders commented on #222
@Mbrownshoes any chance we can get the maximum downloadable area resource in json format? (or does CKAN's API have some capability to translate the format for us?)

[2016-11-23 16:41] Mbrownshoes commented on #222
@jrods sorry the package id is
d405f40d-f46c-4256-a8f7-d6c42b8e4886
this is in delivery.
@banders the datastore api makes the resource available in json.

[2016-11-23 18:48] kfishwick commented on #213
@gjlawran  and @Mbrownshoes  we were just wondering what buttons you want on the modal window?  "Save" and "Cancel"?   I assume "Save" would save & close the modal, and Cancel would juts cancel and not save the changes (which could be either adding the OFI resources or editing the common information for the resources).

[2016-11-23 18:56] gjlawran commented on #213
@kfishwick and @Mbrownshoes
Thanks - "Save" and "Cancel" is great.

[2016-11-24 17:16] Khalegh-H3 commented on #199
Ckan uses pylons for error handling and when an exception happens ckan
renders whatever it gets as a response from pylons.

Having that said, there is a little room to customize error handling :

a. An error controller must be added to the extension to process and
render pylons response.
b. error_document_template.html must be added to show and customize error page.
c. pylons doesn’t return error

[2016-11-25 18:53] kfishwick commented on #222
@Mbrownshoes  we actually need that resource to be in prod - all environments should be using the production resource to access the max AOI.

[2016-11-25 18:54] banders commented on #222
I have committed the model order window UI to a fork of highway three's bcgov extension (branch: issue_212_mow).  The modal window includes the leaflet map and the "order" button is enabled/disabled based on the selected map area.  The code has stub methods for 1) fetching the maximum downloadable area of the dataset and for 2) placing the actual data order.

@jrods has merged my work back into hi

[2016-11-25 19:42] Mbrownshoes commented on #222
@kfishwick I've added the resource to prod and will send the id to @jrods and @banders.

[2016-11-28 22:01] kfishwick commented on #213
Some clarifications after conversation with @gjlawran

1. When the user checks "I consent to the collection..." then hide the "The information on this form".  If they uncheck the consent checkbox then show the text again.

2. If the object name is not found in the max AOI resource, then assume there is no maximum and hide the text from "Maximum download..." down to "Please elect an area < ".

3. A

[2016-11-28 22:02] kfishwick commented on #212
Further clarifications after meeting with @gjlawran

1. When the user checks "I consent to the collection..." then hide the "The information on this form".  If they uncheck the consent checkbox then show the text again.

2. If the object name is not found in the max AOI resource, then assume there is no maximum and hide the text from "Maximum download..." down to "Please elect an area < ".

3. Aft

[2016-11-28 22:31] kfishwick commented on #213
This is code complete, we know of one issue which is if you are adding the OFI resources and do not select the update cycle (the only required field that is not auto-populated) then the validation message is not very user friendly.  Please let us know if you find anything else.

[2016-11-29 21:27] kfishwick commented on #212
@gjlawran  and @Mbrownshoes can you confirm these details & supply the exact text for "please log in" and "you do not have access" use cases.

For an unauthenticated user attempting to access an OFI resource, we will make the call to see if the object is available.  If it is, we proceed to MOW.  If not, we provide "please log in" text.

For an authenticated user attempting to access an OFI resourc

[2016-12-02 01:54] gjlawran opened #253 "Confirm download statistics working for all resources"
Reviewing the site usage values  https://catalogue.data.gov.bc.ca/data/site-usage/dataset?month=2016-11&publisher=medical-services  it appears there are no downloads being recorded for this organization since July.

Please determine why there are no downloads reported for the months of October and November after the fix to record downloads  was applied.

[2016-12-07 18:00] kfishwick commented on #212
@gjlawran  and @Mbrownshoes  please note that we are still waiting on the exact message text as requested above.

[2016-12-07 19:22] ll911 opened #263 "ofi MOW order UX improvement"
1, when current extend is more than max downloadable extend, "place order" bottom should be disabled.
2, auto populate the email addresses for secured packages order, user already logged in, no need to fill the email address for registered users since the email address already there.

[2016-12-07 19:39] ll911 commented on #263
<img width="934" alt="screen shot 2016-12-07 at 11 38 14 am" src="https://cloud.githubusercontent.com/assets/11949273/20983553/c2642e08-bc71-11e6-863f-ab6e04469a5f.png">
<img width="935" alt="screen shot 2016-12-07 at 11 38 03 am" src="https://cloud.githubusercontent.com/assets/11949273/20983554/c26738be-bc71-11e6-9860-ba82c6451eb1.png">

[2016-12-07 21:01] kfishwick commented on #263
That object is not in the list of objects that contains a max AOI.

https://catalogue.data.gov.bc.ca/api/action/datastore_search?resource_id=d52c3bff-459d-422a-8922-7fd3493a60c2

It's either missing from that list or OFI is erroneously returning the "max size" error.

[2016-12-13 18:01] gjlawran commented on #212
Need to make the modal window a little shorter. Remove the title Geographic Data Download and replace with instruction. "Pan and zoom this map to select the geographic area of data to download. Then enter your email address." Add hover-text to email box - "An email will be received once order is placed and when data is ready for download."

AOI limit text should read.

Due to the size of this data

[2016-12-13 19:00] Mbrownshoes opened #264 "Open api json resource"
Please add this as a resource type.

[2016-12-13 22:58] banders commented on #264
Not sure if we store mime types for the resource formats, but if we need a mime type I think we should use "application/openapi+json".  That seems to be the [recommendation](https://github.com/OAI/OpenAPI-Specification/issues/110) (though still unofficial) from the OpenAPI specification group:

[2016-12-13 23:25] gjlawran commented on #213
@jrods one additional important change ...

Please structure the resource names for OFI created resources like this ...
Additional information for [shapefile] resource.
Additional information for [E00] resource.
Additional information for [file geodatabase] resource.
...

[2016-12-13 23:38] Mbrownshoes opened #267 "Admin's are not automatically added to newly created orgs"
After creating a new sub-org we've noticed admin's are not automatically added, as they are to existing orgs. This means admin's do not receive pending publish notifications and cannot see records in this state. Surprisingly, they can edit these branches records - if they have the link.

[2016-12-15 19:56] kfishwick commented on #264
@Mbrownshoes  can you or @banders  please provide a little more detail about what exactly you want to happen when a resource is creating with this resource type?

[2016-12-15 20:55] banders commented on #264
@kfishwick We would like for resources of the new format (e.g. "openapi+json") to show the openapi_view on the resource preview page.  The openapi_view plugin is defined in this [extension](https://github.com/bcgov/ckanext-openapiviewer).

The OpenAPI specification format is a subset of JSON, so I suggest we also offer the text_view to resources of the new format to show the raw JSON text.

If pos

[2016-12-16 15:33] gjlawran commented on #263
Confirmed. This was a configuration issue. When a dataset does not have a max AOI specified - and it should  - the system will display this error.  This will not be a problem with the next version of OFI - as it will include the max AOI in the information response - and we will not be reliant on this configuration.

[2016-12-16 15:33] #263 closed

[2016-12-16 15:41] gjlawran commented on #212
When a user who is not logged in attempts to order a secure dataset. They receive this error message "Error: User is not allowed to view object.'

Could we alter this message to

"Error: This is a dataset with restricted access. To place an order for download please [login first](https://[domain].apps.gov.bc.ca/int/eas/login.jsp).

[2016-12-16 17:01] ll911 commented on #263
what about email address completion for logged in users?

On Dec 16, 2016, at 7:34 AM, Greg Lawrance <notifications@github.com<mailto:notifications@github.com>> wrote:

Confirmed. This was a configuration issue. When a dataset does not have a max AOI specified - and it should - the system will display this error. This will not be a problem with the next version of OFI - as it will include the max

[2016-12-20 17:28] kfishwick commented on #199
@Khalegh-H3  can we merge the core change into our forked version?

[2016-12-20 17:31] kfishwick commented on #264
Ok and if you have not included the extension, what should happen?  I assume we have other situations like this so maybe @jrods  or @Khalegh-H3  already know the answer...

[2016-12-20 17:52] jrods commented on #264
@banders i can't add openapi+json to ckan because for vocab tags you're only allowed alphanumeric characters or symbols: - _
I can do `openapi` or `openapi-json`

[2016-12-20 17:56] banders commented on #264
That's too bad.  I think we need both words ("openapi" and "json") in the name because there is an alternative openapi format which uses "yaml" instead of "json" (although we don't currently support the "yaml format).

How about we  go with "openapi-json"?

[2016-12-20 18:03] ll911 commented on #264
the format is json, mimetype is openapi+json, since json already used, new mime type can be added via `add_type('application/vnd.openapi+json', '.openapi’)`
On Dec 20, 2016, at 9:56 AM, banders <notifications@github.com<mailto:notifications@github.com>> wrote:

That's too bad. I think we need both words ("openapi" and "json") in the name because there is an alternative openapi format which uses "y

[2016-12-20 18:07] ll911 commented on #264
```add_type('application/vnd.openapi+json', '.openapi')```

[2016-12-20 18:15] gjlawran commented on #264
@jrods  will change resource format MIME type.

[2016-12-20 18:15] kfishwick commented on #264
Also, @jrods  please change the ini file also.

[2016-12-20 18:15] kfishwick commented on #264
@banders  will add the resource type in the openapi extension.

[2016-12-20 19:44] jrods commented on #264
These instructions are similar to #197, the `resource_format` in the vocabulary table needs to be updated to include `openapi-json` for **cad/cat/prod** env. An authorized user in those env need to be able to use the `tag_create` api call ( @ll911 @Mbrownshoes ).

First step is to get the id for `resource_format`:
[code]
The request should return a json object with `id` in `result`, you'll need th

[2016-12-20 19:51] ll911 commented on #264
@Mbrownshoes @gjlawran @jrods no need for text view, the open api specs source would be in https://github.com/bcgov/api-specs as plain text.

[2016-12-20 22:57] ll911 opened #272 "extension paster cmd broken"
[code]

[2016-12-21 17:41] jrods commented on #212
I've updated the error message in this PR #271 @gjlawran

[2016-12-23 16:52] Mbrownshoes commented on #199
Has this fix been made to 1.6?

[2017-01-03 23:08] Mbrownshoes commented on #213
After adding object names in cat, I'm seeing the  'Object is not avaiable, please contact your administrator.' message. I should be seeing the multiple format resource creation window. I've tried with a couple of different objects with the same results.

avaiable is also spelled wrong in the message :)

[2017-01-06 00:28] jrods commented on #213
@Mbrownshoes when you say cat, which env are you referring to? ckan or data warehouse?

[2017-01-06 00:30] Mbrownshoes commented on #213
I mean our test ckan environment

[2017-01-06 18:10] jrods commented on #213
@Mbrownshoes what's most likely is happening is the OFI Manager modal is probably using the dwds delivery env. I can't comfirm because I don't have access to any OFI datasets on cat.

[2017-01-09 17:29] Mbrownshoes commented on #213
@jrods turns out only a few resource have been configured. Auto resource creation and download is working for the object I just tested.

[2017-01-09 23:44] kfishwick commented on #253
Looking at the referenced dataset, surgical wait times was downloaded 9 times.    I tried a new data set:

https://catalogue.data.gov.bc.ca/data/site-usage/dataset?month=2017-01&publisher=elections-bc

lots of downloads.  Maybe this is working again?

![image](https://cloud.githubusercontent.com/assets/5503136/21788276/91c352e4-d682-11e6-8ad6-33e943415adc.png)

[2017-01-09 23:50] kfishwick commented on #231
Analysis please @jrods ?

[2017-01-09 23:57] kfishwick commented on #216
@gjlawran This is what I see when I look at your link.  I'm not sure what is the actual issue, that the points are not distributed correctly or the background map isn't displaying?

![image](https://cloud.githubusercontent.com/assets/5503136/21788523/0ebafb3e-d684-11e6-8239-98ad2a676995.png)

I tried another one and it looks good:

https://cat.data.gov.bc.ca/dataset/stops-of-interests/resource/f3a

[2017-01-10 21:01] Mbrownshoes commented on #222
@banders When ordering a resource too large (in test) to download there is no message indicating that the resource is too large and that you must zoom in to select smaller area. I thought the 'Place Order' button was greyed out, no?

[2017-01-10 21:59] Mbrownshoes commented on #212
@banders @jrods  I'm not seeing the order button disabled in tst when I try and order a dataset that is too large to download. I just this error message which isn't particularly helpful.

![screen shot 2017-01-10 at 11 36 56 am](https://cloud.githubusercontent.com/assets/3362533/21826549/cc14bfa4-d73c-11e6-9306-fc175b2d8b00.png)

[2017-01-10 22:41] Mbrownshoes commented on #197
@kfishwick @Khalegh-H3 can you please explain what exactly needs to be done to incorporate the new projections? the added projection has been added here
https://github.com/bcgov/ckanext-bcgov/commit/c26e91b074708096a3959dbd141edb19c6ec9cc0

Just run the create_vocabs script and it will be added? I'm unsure how I would use the second option if a vocabulary_id doesn't exist for the new projection.

[2017-01-11 17:56] #158 closed

[2017-01-11 18:06] ll911 commented on #158
@gjlawran api call you have for object name should be https://catalogue.data.gov.bc.ca/api/3/action/package_show?id=bc-ports-and-terminals

[2017-01-11 21:59] Mbrownshoes opened #274 "Clicking 'add new resource' displays 'Manage OFI resources' window"
In geographic records that already have OFI resources created, clicking the 'add new resource' button causes the 'manage OFI resources' window to pop up, which is a bit confusing. This window should only be shown when the manage ofi resources button is clicked.

@ll911 @gjlawran shall we aim to have this fixed for the 1.6 release?
<img width="816" alt="screen shot 2017-01-11 at 1 43 44 pm" src="ht

[2017-01-11 22:10] kfishwick commented on #274
Analysis please @jrods?  Is this fairly straightforward?

[2017-01-12 17:31] Mbrownshoes commented on #197
the new projection has been added to cat.

[2017-01-13 16:50] Mbrownshoes commented on #274
@jrods any word on this?

[2017-01-13 18:12] jrods commented on #274
I remember trying to have it not automatically pop up when there are existing ofi resources on first implementation. I'll have a look at it again and have it not auto open.

[2017-01-13 19:33] Mbrownshoes commented on #274
@jrods okay, I've moved this issue to the 1.7 release.

[2017-01-17 00:44] gjlawran opened #275 "Ensure archived dataset pages return 404 http(s) responses"
When a dataset is archived - the page that is available to the GoogleBot should indicate the page is no longer available - i.e. Not Found - 404

[2017-01-17 16:41] Mbrownshoes commented on #199
@kfishwick has a changed been made to core? What is the status on this?

[2017-01-17 17:06] kfishwick commented on #199
Yes it was made to core & we backported it https://github.com/bcgov/ckan/pull/13.

[2017-01-17 21:57] Mbrownshoes opened #276 "Unable to create openapi resources for webservice records"
in test and delivery, when we attempt to add a new API Console resource to a web service record we are encountered with a server error when we click "add"
<img width="561" alt="screen shot 2017-01-17 at 1 54 27 pm" src="https://cloud.githubusercontent.com/assets/3362533/22041641/7ddd5848-dcbc-11e6-9e6b-194169418a07.png">

After navigating back to the record page, the resource is not there and [DRA

[2017-01-17 22:02] kfishwick commented on #276
Analysis please @jrods ?

[2017-01-17 22:04] kfishwick commented on #276
Actually @jrods has pointed out this may be an issue with @banders  extension.  @banders  can you please take a look & let us know?

[2017-01-18 19:51] jrods commented on #274
@Mbrownshoes PR #278 is now in cad and prevents the manager from automatically when there are ofi resources

[2017-01-19 02:22] banders commented on #276
@kfishwick @jrods I have created a patch for ckanext-openapiviewer which will fix this issue.  My pull request to have the patch incorporated back into the 'bcgov' repo is [here](https://github.com/bcgov/ckanext-openapiviewer/pull/11).

[2017-01-19 23:47] gjlawran opened #279 "Display technical contacts to government users"
As a government, authenticated, user I would like to be able to view the technical contact for all records.

[2017-01-23 17:42] Mbrownshoes commented on #276
@jrods I see this has been merged with ckanext-openapiviewer. When that merge is done is cad redeployed or do you manually need to trigger a redeploy?

[2017-01-23 17:57] jrods commented on #276
@Mbrownshoes a manual trigger needs to be initiated with changes to that ext. (Karen already did a redeploy, so the changes are in cad right now :)

[2017-01-23 18:39] Mbrownshoes commented on #276
@jrods thanks, today I'm unable to recreate this issue in cat (I am able to create openapi resources), though cat has not been redeployed. I'm wondering how this fix was integrated.

[2017-01-24 22:11] ll911 opened #280 "BCDC resource page too much white space above the resource view"
see screenshot attached.
![screen shot 2017-01-24 at 2](https://cloud.githubusercontent.com/assets/11949273/22269123/f30f293e-e23e-11e6-9acb-15600a22df2c.png)

[2017-01-24 23:31] Mbrownshoes opened #281 "Unable to download OFI resources using 'Access/Download' button from resource page url"
When attempting to download an OFI resource using the clickable URL, often the modal window fails to load and the spinner is shown:
![screen shot 2017-01-24 at 1 51 09 pm](https://cloud.githubusercontent.com/assets/3362533/22268367/2968243e-e23c-11e6-9bb4-878eb73a80af.png)
with the following console errors
![screen shot 2017-01-24 at 1 27 45 pm](https://cloud.githubusercontent.com/assets/3362533/2

[2017-01-25 00:04] Mbrownshoes commented on #281
@jrods after further exploration, we do occasionally see the spinner with both the 'Access/Download' button and the URL when on the resource page.
It appears as though the url is different when downloading from the main record page:
![screen shot 2017-01-24 at 4 01 16 pm](https://cloud.githubusercontent.com/assets/3362533/22272372/8b530620-e24e-11e6-9c87-0e8326a3b488.png)
URL for this is https://c

[2017-01-25 16:51] Mbrownshoes commented on #216
@kfishwick this is still an issue, the background in prod and test is gray. The background map only shows when the points are clicked.

[2017-01-25 20:56] ll911 opened #282 "js ext-lib cleanup"
please cleanup external js lib only including the minimal js files that's required
e.g https://github.com/bcgov/ckanext-bcgov/tree/master/ckanext/bcgov/fanstatic/leaflet-ext contains the full source repo for leaflet.

[2017-01-25 21:07] Mbrownshoes commented on #281
<img width="1098" alt="screen-shot-2017-01-25-at-12 32 30-pm" src="https://cloud.githubusercontent.com/assets/3362533/22309209/264d6dcc-e2ff-11e6-99c5-bd10a60f83cc.png">
<img width="1102" alt="screen-shot-2017-01-25-at-12 32 41-pm" src="https://cloud.githubusercontent.com/assets/3362533/22309210/265fa910-e2ff-11e6-9bfd-8947c3989dc7.png">

[2017-01-25 22:11] ll911 commented on #281
workaround is update resource.config
[code]

[2017-01-25 22:13] Mbrownshoes commented on #281
@kfishwick @jrods

[2017-01-25 22:17] Mbrownshoes commented on #281
@jrods @kfishwick can you please review @ll911's proposed fix above and incorporate into the repo. I will create a new ticket for the next release (1.7) for you to make sure that the js libraries do work when bundled.

[2017-01-25 22:33] ll911 opened #283 "serve static files"
this is relate to
https://github.com/ckan/ideas-and-roadmap/issues/38

I would to purpose following changes to https://github.com/bcgov/ckanext-bcgov/tree/master/ckanext/bcgov/fanstatic

separate each type of static resources by format, not function, create directories like

css: all css files
js: all required javascript files
fonts: all required fonts files, preferable woff or woff2 only,
img: al

[2017-01-25 23:48] jrods commented on #281
@Mbrownshoes i can't reproduce the issue you are having on cat, i've tried both my idir and the dbcuser2 account. I don't believe it's the bundle that's causing issues, but I will have a look.

[2017-01-25 23:53] ll911 commented on #281
@jrods cat is patched at runtime with my changes, so you can't reproduce the issue. you can try locally and serve those js in bundled and will get the error.

[2017-01-25 23:55] jrods commented on #281
@ll911 are these changes on cad right now?

[2017-01-25 23:58] ll911 commented on #281
@jrods nope, they are not in cad, but they are not bundled when serving in cad, not sure if that because of hardware restriction on cad instance for single worker + single thread.

[2017-01-26 00:08] jrods commented on #281
@ll911 `ofi/modal.js` is incorrect, it should be `ofi/ofi_modal.js`

[2017-01-26 00:28] ll911 commented on #281
@jrods actually only file should be exempt from bundle is ```typeahead.bundle.js```

[2017-01-26 01:05] Mbrownshoes commented on #281
Leo implemented a fix in 1.6.2. In cat now.

[2017-01-27 00:42] Mbrownshoes opened #284 "Connections must be closed when using python ckanapi"
We've been encountering many server errors with the logs have showing the following message over the past few days:

OperationalError: (OperationalError) FATAL:  remaining connection slots are reserved for non-replication superuser connections

When using the ckanapi sessions must be closed or you will risk running out of connections:
https://github.com/ckan/ckanapi#session-control

[2017-02-06 20:57] #253 closed

[2017-02-06 20:58] Mbrownshoes commented on #253
downloads appear to be working

[2017-02-06 21:03] #274 closed

[2017-02-09 21:09] Mbrownshoes opened #285 "Could not push update of a csv resource to the datastore"
After uploading a new csv to the filestore, the file was not able to push to the datastore. The following error was displayed in the datapusher window:

ERROR: Error getting datastore resource

I was able to upload the same csv file to a new resource. This is the file that used to powers the broker.

After creating the new resource I deleted the old one.

CITZEDC-887

[2017-02-09 21:36] ll911 commented on #285
sounds like resource been used creates read lock in pg, so resource cannot be changed until lock removed.

[2017-02-09 21:50] Mbrownshoes commented on #285
@ll911 is this a result of the broker pinging it? Is there a way to prevent it from locking up? We need this resource to be able to update smoothly, without having to recreate a resource and redeploy the broker.

[2017-02-10 00:28] ll911 commented on #285
workdaround/fix: delete resource view and repush to datastore

[2017-02-10 00:51] kfishwick commented on #285
Has this occurred in cad or cat?  Are there logs in production that would indicate a read lock in pg (sounds like more of a "write" lock to me if you can't edit it).

@ll911  did you check postgres to see if there was indeed a locking error?

[2017-02-10 00:57] Mbrownshoes commented on #285
@kfishwick we have not yet been able to reproduce in cat or cad. I've tried using both admin and editor accounts. There's only been two records in Prod that have experienced this, both in the past 2 days and both had resources with apis that are being consumed, one is used for the broker, and the second is used in a visualization on data.gov

[2017-02-16 22:14] Mbrownshoes opened #286 "OFI resources are not returning the correct projection - all are lat long"
We’ve found that all download orders made with an OFI created [resource](https://catalogue.data.gov.bc.ca/dataset/mta-mineral-placer-grid/resource/e11554db-ae35-483e-ae67-bea9ba5dd29d) are always setting the projection to Lat/Long, regardless of what the user requests.

Here is the response when I selected BC Albers for the projection and you can see the crsType=6:
[code]
Here I selected UTM Zone

[2017-02-16 23:57] Mbrownshoes commented on #285
@kfishwick we have another resource that is locked and @ll911 's trick for deleting the resource view isn't working. These are popular resources that are being hit via their api. This is a big problem.  We need to determine what is causing these resources to lock up.
@gjlawran @dkelsey

[2017-02-17 00:06] kfishwick commented on #285
@Mbrownshoes  what is the current resource that is locked?

[2017-02-17 00:06] kfishwick commented on #285
@jrods  can you please check logs etc & see if you can find out anything?

[2017-02-17 18:58] jrods commented on #216
@Mbrownshoes im just testing that resource in my local env, i notice that when you try to create a new view, the Longitude field gets set to Latitude.

[2017-02-17 22:12] jrods commented on #286
I will have a look at this.

From what i remember, the projection from the UI wasn't mapped to the api call, when implementation happened, it was set to always be a certain projection.

I'll submit a PR to map the projection to the order call.

[2017-02-20 18:14] jrods commented on #285
@Mbrownshoes @ll911 have either of you done a datapusher_status api request for that resource? that api call looks like it can return an error message for the resource job, my api key is not authorized to make the request on prod.

[2017-02-20 18:34] jrods commented on #285
looks like that api call is undocumented:
[code]

[2017-02-20 19:18] jrods commented on #231
Looks like the bootstrap.min.css is being loaded from the ext that provides the map view, still investigating.

[2017-02-20 21:11] jrods commented on #231
I can't reproduce, my env doesn't request the minified version of bootstrap at all, even when debug is off @ll911

[2017-02-20 21:13] jrods commented on #216
@Mbrownshoes @kfishwick if the grey map tiles is a problem, can it be moved to a new issue please?

[2017-02-20 21:16] jrods commented on #285
@Mbrownshoes can you provide detailed steps to how you were getting the initial error?

[2017-02-20 21:53] Mbrownshoes commented on #285
@jrods @ll911 both resources where this issue has been observed are being accessed via their datastore apis, one is being used to create a visualization and the other is being used by the broker. We encountered this error when trying to manually update the resource. We simply managed the resource, removed the current file in the filestore and uploaded the new file. After noticing the data explorer

[2017-02-20 22:21] Mbrownshoes opened #287 "recline map view showing grey background"
After creating a view as an editor, the map tiles are grey until a point is clicked on
https://catalogue.data.gov.bc.ca/dataset/bc-aboriginal-business-listings/resource/1b9d73d0-62a7-485f-a177-55e46701073a?view_id=17e83456-38f4-4153-a160-b8516528f49a
![screen shot 2017-02-20 at 2 18 46 pm](https://cloud.githubusercontent.com/assets/3362533/23143725/c5bf5172-f777-11e6-8f59-3e7f995c4a07.png)

The ma

[2017-02-20 22:22] Mbrownshoes commented on #216
@jrods moving the grey map tiles issue to https://github.com/bcgov/ckanext-bcgov/issues/287

[2017-02-20 22:22] #216 closed

[2017-02-21 18:52] jrods commented on #286
@Mbrownshoes what should the default crsType be for placing orders?

[2017-02-21 19:20] Mbrownshoes commented on #286
@jrods BC Albers

[2017-02-21 21:26] ll911 commented on #231
it's ref in requests `https://catalogue.data.gov.bc.ca/dataset/tantalis-regional-districts/resource/ad41d2be-4df2-44ad-af95-570a15781a52`
line 23
[code]

[2017-02-21 21:28] jrods commented on #231
@ll911 I know, but I can't get bootstrap.min.css to be called, instead on my local env bootstrap.css is call (which is http 200), when debug is either on or off.

[2017-02-21 21:32] ll911 commented on #231
@jrods that's odd, i got 404 for all 3 env cad/cat/prod

[2017-02-21 21:58] ll911 commented on #231
it's referenced by geoview extension, did you installed the geoview extension? e.g
```templates/dataviewer/openlayers3.html```

[2017-02-21 22:09] jrods commented on #231
yes i have the geoview ext installed and that code block is present in my env

[2017-02-21 22:18] ll911 commented on #231
@jrods base difference, simply update that line reference for bootstrap css file to ```base/vendor/bootstrap/js/bootstrap.min.js```

[2017-02-21 22:26] Mbrownshoes opened #288 "Update needed to OFI resource creation workflow"
Before the recent incorporation of the OFI, when an editor was creating a draft record for a dataset in the BCGW, they would create a resource with a 'dummy' link, usually to our FAQ page. When the object was in the production warehouse and configured download this link would be replaced with the valid download url.

Following of the addition of the OFI and the automatic resource creation, when an

[2017-02-23 17:48] Mbrownshoes commented on #285
@jrods any progress on this? We will be having some data refreshes happening soon.

[2017-02-23 21:36] Mbrownshoes commented on #285
We just experienced this again and had an important resource lock up.

[2017-02-23 21:37] jrods commented on #285
@Mbrownshoes I'll have a look at the logs again. Still haven't been able to replicate in my own local env yet.

[2017-02-23 21:38] ll911 commented on #285
same pacakge, resource get's locked when datapusher trying to truncate the old resource when updates added via UI

[2017-02-23 21:39] ll911 commented on #285
the lock stuck for over 2 hours after one of the resource updated.

[2017-02-23 21:55] Mbrownshoes commented on #285
This is only happening with resource that have datastore apis being consumed.

[2017-02-28 18:04] Mbrownshoes opened #290 "Remove 'eternal link' next to OFI resources"
When OFI resource are created 'external link' appears next to the resource title
https://catalogue.data.gov.bc.ca/dataset/provincial-electoral-district-voting-areas-gazetted-09-27-2012

This was introduced when we started displaying the size of resources stored in the file store. The external link is not very helpful, since when you click on the link you're now taken to the resource page, rather t

[2017-02-28 19:15] Mbrownshoes commented on #153
We would like to replace the sectors categories with the 19 subjects listed above to bring us inline with the Canadian Govs taxonomy.
@gjlawran what do you mean by 'One simple fix would be to apply duplicate GovCanada subjects where a BCGov combination subject is present.'? The BCGov has 'Arts and History' while the GovCanada has 'Arts, Music, Literature' and 'History and Archaeology'

[2017-02-28 19:25] Mbrownshoes opened #291 "Implementation of DCAT"
We'd like to implement the dcat extension so that our content can be shared with other data catalogues, such as http://open.canada.ca/

https://github.com/ckan/ckanext-dcat

[2017-02-28 22:23] Mbrownshoes opened #292 "Unable to create OFI resources for geographic dataset in test and dlv"
1.6.3, the latest update seems to have caused an new error in cad and cat. After adding an object and creating OFI resources when the 'Resource Update Cycle' is selected the following error is displayed in the console
![screen shot 2017-02-28 at 2 18 30 pm](https://cloud.githubusercontent.com/assets/3362533/23437002/5ce8ecf8-fdc1-11e6-86b6-548e861c30de.png)

clicking save then shows this error:
PO

[2017-03-01 00:44] dkelsey opened #293 "In TEST, Navigating to a public OFI metadata record as a public user gets Server Error. As an IDIR authenticated user the record it does not."
The record in question is [pub-downloadofi](https://cat.data.gov.bc.ca/dataset/pub-downloadofi)

1. logout of test (if logged in)
2. in the left nav select **Geographic Datasets** under **Dataset types**
3. scroll down until you see [pub-downloadofi](https://cat.data.gov.bc.ca/dataset/pub-downloadofi) and click on it.

- I expect to view the metadata record.
- Instead i get:
![screen shot 2017-02-

[2017-03-01 03:00] ll911 opened #294 "update blog site url"
old: https://blog.data.gov.bc.ca
new: https://engage.gov.bc.ca/data/

[2017-03-01 16:43] Mbrownshoes commented on #292
@jrods @ll911 we are getting the first js error in prod too, however clicking save does create the OFI resource and there isn't the populate_dataset error observed in cad and cat.

[2017-03-01 17:03] dkelsey commented on #293
DELIVERY is showing another issues with OFI records.

**Steps:**
1. log out of DELIVERY
2. Filter on Geographic Datasets
3. click any OFI record
![screen shot 2017-03-01 at 8 54 40 am](https://cloud.githubusercontent.com/assets/3906047/23471020/cf46a7cc-fe5c-11e6-99bd-f4dff749271c.png)

**Expected:**
The record is displayed
**Actual:**
The page cannot be displayed.
![screen shot 2017-03-01 at 8 54

[2017-03-01 18:14] ll911 commented on #293
@dkelsey @jrods they all look like authorization logic related. error.

[2017-03-01 23:00] jrods commented on #293
@dkelsey so the first error relates to a change I recently made regarding action calls mapping to an authorization function. I will submit a PR to fix the missing call.

As for the second error, `<function crs_types at 0x7f9405ccd320> requires an authenticated user`. Currently the crs_types call doesn't allow for anonymous users.
Note*: This is also the same for getting file_formats, checking obje

[2017-03-02 00:00] jrods commented on #292
I remembering running into that js error before, it's not related to OFI. The option selector for 'Resource Update Cycle' references a missing function. I'll have to see why that function is not available on the page. This js error also happens when adding a standard resource.

The POST error however, relates to #293

[2017-03-02 00:48] Mbrownshoes commented on #293
@jrods We're still not able to access publically viewable OFI records in cad.

Currently the crs_types call doesn't allow for anonymous users. I'm not sure what crs_types does (thought it was the projection) but we need these records in cad viewable to unauthenticated users.

[2017-03-02 00:51] jrods commented on #293
@Mbrownshoes Yes, the crs_types gets available projections from DWDS. I just want to be sure before removing any authorization checks. I'll submit a PR to allow for the crs_types to be called by anonymous users.

[2017-03-02 00:54] Mbrownshoes commented on #293
@jrods gotcha. thanks

[2017-03-02 01:03] Mbrownshoes commented on #293
@leo would like to investigate how this function is supposed to work before accepting the PR.

[2017-03-02 18:14] Mbrownshoes opened #297 "unable to delete OFI resources"
@jrods I'm unable to delete all OFI resources in cad. I was able to individually delete OFI resources.

![screen shot 2017-03-02 at 10 12 45 am](https://cloud.githubusercontent.com/assets/3362533/23520684/e20bfaa4-ff30-11e6-8868-887c964ad45c.png)

[2017-03-02 18:24] jrods commented on #297
@Mbrownshoes I just tested in cad, and didn't get an error message for removing all ofi resources. What dataset what this on?

[2017-03-02 18:39] Mbrownshoes commented on #297
@jrods I just tried again using the test editor account and was unable
/api/ofi/remove_ofi_resources 500 ()

test-ofi-visibility
and
secure-ofi-test

[2017-03-02 19:24] Mbrownshoes opened #298 "Move back to core ckan"
We would like to move from our extension of ckan https://github.com/bcgov/ckan back to core, which will allow us to upgrade more recent releases. @kfishwick I remember some customization was done (can't remember exactly what) which is why we had to depart from core. Were those changes merged back to core?
@ll911

[2017-03-03 23:53] Mbrownshoes opened #300 "Unable to download a publically available OFI resource, when not logged in. Dlv and Test"
When not logged in, attempting to download a public resource (cat and cad: /test-1-6-3-geographic-dataset), results in the following error, when the 'Place order' button is clicked.
![screen shot 2017-03-03 at 3 52 46 pm](https://cloud.githubusercontent.com/assets/3362533/23573250/7a907086-0029-11e7-9447-e6646def6387.png)
@ll911

[2017-03-06 19:54] Mbrownshoes commented on #300
@jrods have you been able to look at this? we're hoping to get this fixed asap.
@dkelsey

[2017-03-06 19:56] jrods commented on #300
I'm currently investigating it, I still haven't found the root cause yet.

[2017-03-06 20:24] jrods commented on #300
@Mbrownshoes This issue also happens in the delivery env. The root cause is the public user is actually denied by the file_formats auth check. This issue is similar to #293 , public users are denied by file_formats ( dwds api call -> /info/fileFormats )
I can make a PR to allow for public users to use this call.

[2017-03-06 21:34] Mbrownshoes commented on #300
@dkelsey can you please check that this issue is fixed in cad, and check that the OFI is working in general

[2017-03-07 00:05] jrods commented on #231
An update on this issue, I'm able to reproduce in my env, it depends on the resource used. Anyhow, I couldn't find any file `css/bootstrap.css` or `css/bootstrap.min.css` in ckan and ckanexts that are used, that the geoview ext references.

In this commit, those references are actually removed -> https://github.com/ckan/ckanext-geoview/commit/380278ca644363ee64356a600fdac544a09ab6c2

But were late

[2017-03-07 17:15] dkelsey opened #302 "The process for deleting a single resource can cause the user to unintentionally delete all resources (all environments)"
**Steps**

1. Find a resource in a record you intend to delete.  _These must be Geographic Data OFI Records._
2. click 'Edit' from the dropdown.

![screen shot 2017-03-07 at 8 57 18 am](https://cloud.githubusercontent.com/assets/3906047/23668574/5fb1c91e-0316-11e7-8246-9c955854b0af.png)

**expected**
I would be taken to the page to edit that particular resource (and delete it).

**actual**
I get a

[2017-03-07 18:37] jrods commented on #287
@Mbrownshoes is this still an issue? The linked resource here has a visible map.

[2017-03-07 20:17] jrods commented on #287
Strange, the map will load if the tab loads the page in the background and the browser has another tab in the foreground. There could be some javascript blocking leaflet from completing the downloading of map tiles. I also notice the map view doesnt work at all when it's the plain grey background.

[2017-03-07 20:49] jrods commented on #287
Seems like it's the auto zoom in on features that's causing this issue. I found a related issue on the leaflet repo https://github.com/Leaflet/Leaflet/issues/3198

[2017-03-07 22:29] Khalegh-H3 commented on #285
This could happen if the csv file that is updated is being used by another consumer. It is the same as if you want to delete a file in your computer while it is still open in another program.

Uploading a new csv file means removing the old file from datastore and create a new one. That's why it always works fine for a new resource but it could cause issues for the available resources.

[2017-03-07 23:33] ll911 commented on #231
@jrods they are here https://github.com/ckan/ckan/tree/ckan-2.5.4/ckan/public/base/vendor/bootstrap/js

[2017-03-07 23:34] jrods commented on #231
@ll911 those are js files, not css files

[2017-03-07 23:45] Mbrownshoes commented on #285
@Khalegh-H3 we've tested other resources who's datastore apis are being hit and have not observed this problem. One of these resource apis is being used to power a visualization and the other a simple webpage, so I'm not sure if anything is being left 'open'. Any thoughts @ll911 ?

[2017-03-08 17:39] Mbrownshoes opened #304 "Unable to push to datastore in CAD"
we’re unable to push to the datastore in CAD, here is the error Upload error: An Error occurred while sending the job: 500 Server Error: Internal Server Error.

sqlalchemy.exc.OperationalError: (OperationalError) could not connect to server: Connection refused
Is the server running on host "localhost" (127.0.0.1) and accepting
TCP/IP connections on port 5432?
could not create socket: Address famil

[2017-03-08 18:45] Mbrownshoes commented on #304
datastore pg is not running on the default pg port 5432? did anyone change the ckan.ini file?
The datapusher failed to start.

[2017-03-08 18:49] Mbrownshoes commented on #298
@kfishwick are you able to assign to one of your developers to investigate what would be involved in this?

[2017-03-08 22:35] Mbrownshoes commented on #304
@jrods @kfishwick are you able to fix this today?

[2017-03-09 00:11] gjlawran commented on #285
What attempts have already been made to replicate the problem? Do we have a Python script that makes the same calls as the Broker DataStore search and the DataStore update API calls?

@Mbrownshoes  can you  please confirm that we have locking occur both through API update and when update is attempted via web interface?

[2017-03-09 00:36] Mbrownshoes commented on #285
A resource_update did not cause locking, however we made that call on a resource that was already locked up. That resource then because unaccessible until there was a catalogue restart.

[2017-03-09 17:49] kfishwick commented on #304
This should be assigned to @ll911  we did not update ckan.ini.

[2017-03-09 17:54] ll911 commented on #304
@kfishwick @jrods the datapusher failed to start with current master build
[code]

[2017-03-09 17:57] kfishwick commented on #304
@ll911  this looks like infrastructure change are you sure it is related to ckan extension?

[2017-03-09 18:03] ll911 commented on #304
@kfishwick infrastructure has no changes, the change was moving jenkins deployment steps from jenkins job configuration to a Jenkinsfile in git, all the steps are remain the same, and I don't understand why it failed to initiate ```SQLALCHEMY_DATABASE_URI``` which is set already in ```ckan.ini```

[2017-03-10 19:15] jrods commented on #287
An update on this issue, it looks like upgrading leaflet from version 0.7.3 to 0.7.7 fixes this issue. This could be raised to core ckan, because recline view uses version 0.7.3.

[2017-03-10 20:28] jrods commented on #292
@Mbrownshoes @dkelsey is the saving the ofi resources still a problem? I just tested in cad and it was successful.

[2017-03-10 21:44] dkelsey commented on #304
This turned out to be an issue with the `datapusher` configuration.  it was resolved.

[2017-03-10 21:44] #304 closed

[2017-03-10 21:56] dkelsey opened #305 "Editing a resource's resource page edits all resources for the record and not the resource itself."
*Steps:*

1. As an Editor, navigate to a resource's information page and Click the 'Manage' button.

![screen shot 2017-03-10 at 1 39 52 pm](https://cloud.githubusercontent.com/assets/3906047/23814432/57fad6e6-0598-11e7-9f6b-acf31524b2d4.png)

*Expected:*
I should be take to a page that allows me to edit/manage the particular resource.

![screen shot 2017-03-10 at 1 54 57 pm](https://cloud.githubu

[2017-03-10 22:10] dkelsey opened #306 "OFI Data Resource names lack cardinality"
*Steps:*

1. Navigate to a record with generated OFI resources and click on 'More Information'

![screen shot 2017-03-10 at 2 06 31 pm](https://cloud.githubusercontent.com/assets/3906047/23815031/df88c350-059a-11e7-9fa5-238b72527dab.png)

The Information page is displayed for the resource

**Expected:**
The resource navigation widget will identify the different resources available to review

**Act

[2017-03-11 00:51] jrods commented on #231
So after my analysis, there are a few of options.

The included bootstrap source files dont have the appropriate files to create bootstrap.min.css, modification of bcgov ckan will have to be made.

The recline view ext in core ckan has a bootstrap.css file, but again, modifications have to be made to bcgov ckan.

The other option I would like to suggest, is to simply remove the reference. The view

[2017-03-16 22:37] Mbrownshoes opened #307 "Retiring E00 and GeoRSS, need to remove from OFI and add Geojson"
@ll911 @dkelsey As planned #213, we are ready to retire E00 and GeoRSS and add Geojson as an option for download. @jrods are you able to remove these add add the new one? What do you require in order to configure the new type?

[2017-03-16 22:52] jrods commented on #307
When creating OFI resources in ckan, the first call to DWDS is to get the available file formats and populate resources based on the returning file formats. No configuration is needed within ckan.

However, existing OFI resources will need to be updated manually by deleting the OFI resources first, then recreate the OFI resources.

[2017-03-16 22:55] Mbrownshoes commented on #307
@jrods great. We've been manually deleting these but have to do a few more. tks

[2017-03-17 14:35] #307 closed

[2017-03-17 19:01] kfishwick commented on #302
@Mbrownshoes  the approach to OFI managed resources was that they would be managed as a group, not individually.  We want to go back and change that now?

[2017-03-17 19:02] kfishwick commented on #305
Duplicate of issue#302?

[2017-03-17 19:19] kfishwick commented on #306
Please provide an alternative naming convention ...again as related to issues 302 and 305, we were intending to manage OFI resources as a group, not individually.  Perhaps we need to look at visualizing them as a group rather than individual resources, or as has been requested, address them individually once they are created.

[2017-03-17 19:19] kfishwick commented on #298
Yes, assigned to @jrods.  I believe last time we looked at this, CKAN core was not porting some of the fixes so we were stalled, but we will investigate again.

[2017-03-17 19:20] kfishwick commented on #291
Analysis please Jared?

[2017-03-17 20:07] ll911 commented on #231
@jrods @Mbrownshoes what about using cdn instead of including the js files in the source
https://www.bootstrapcdn.com/

[2017-03-17 20:10] ll911 commented on #285
@Mbrownshoes resource is unaccessible when access exclusive lock is on, restart ckan or remove pg lock both can bring the access back, however at the moment we are unclear what process keep the resource "open" when editor update another resource within the same package

[2017-03-17 20:35] Mbrownshoes commented on #285
@ll911 yesterday we were able to update the resource that was getting locked up previous weeks. Not sure why we were able to push successfully this time.

[2017-03-17 21:01] Mbrownshoes commented on #231
@ll911 what do you think of @jrods suggestion? What do you think is the best solution here?

[2017-03-17 21:07] ll911 commented on #231
both css and js files are available to cdn. if bootstrap not required, yes we can remove it. but did you verify that's the case for both desktop and mobile interface?

[2017-03-21 19:09] dkelsey opened #308 "Markdown does not work in 'Data Quality' field of Geographic Datasets."
I use this dataset in CAD:

https://cad.data.gov.bc.ca/dataset/mb-1-6-3-0308-mb

**Steps:**
1. Edit the record
2. Format the **Data Quality** field

**Expected**
![screen shot 2017-03-21 at 12 07 15 pm](https://cloud.githubusercontent.com/assets/3906047/24165997/0e87f0bc-0e2f-11e7-8d36-2fcf180a46d7.png)

**Actual**
![screen shot 2017-03-21 at 12 07 35 pm](https://cloud.githubusercontent.com/assets

[2017-03-21 19:11] dkelsey commented on #308
**Purpose** and **Lineage Statement** sections do not work also.

[2017-03-21 22:57] Mbrownshoes opened #309 "Update Postgres to 9.5.x"
The current postgres database is at the end of life. @ll911 suggests we upgrade to 9.5.x

[2017-03-23 19:30] jrods commented on #309
I'm testing this as part of issue #298

[2017-03-23 23:28] jrods commented on #298
Here is my analysis on upgrading to newer version of ckan.

First of all, we won't be able to use v2.6 because it doesn't include filesize and mimetype contribution, but it will be included in v2.7.

There is no set date for v2.7 release yet.

For this task, I used the master branch of ckan core, so there's a couple of issues regarding with installing ckan using pip with the correct dependencies,

[2017-04-03 16:40] dkelsey opened #310 "Comments not showing up + javascript error."
The dataset in question is:

https://catalogue.data.gov.bc.ca/dataset/aquifer-vulnerability-to-saltwater-intrusion-pumping-hazard

![screen shot 2017-04-03 at 9 27 46 am](https://cloud.githubusercontent.com/assets/3906047/24620179/88d9065e-1851-11e7-9036-d5c760cc3ae0.png)

@Mbrownshoes

[2017-04-03 16:46] Mbrownshoes commented on #310
@dkelsey have you tested in test as well? Please add that to the ticket.
There's also 2 records this is affecting.

[2017-04-03 16:48] dkelsey commented on #310
I attempted to test this in test and Delivery.  I added a comment but could not see how to get them approved.  Are there datasets in TEST that have comments?

[2017-04-03 20:37] #300 closed

[2017-04-03 20:37] #297 closed

[2017-04-03 20:37] #292 closed

[2017-04-03 20:37] #293 closed

[2017-04-03 21:36] Mbrownshoes opened #311 "API call to bulk create OFI resources"
As part of the OFI integration we will need to bulk update geographic datasets so they all have OFI resources. Please investigate how we would do this using the api, so we can bulk update.

[2017-04-04 16:03] Mbrownshoes commented on #285
@jrods @ll911 @gjlawran Once again we have a resource that won't push to the datastore. @kfishwick I'm letting you know now, as requested, before we implement our work around of creating a new resource.

[2017-04-05 20:43] Mbrownshoes opened #312 "UI change for OFI resource creation"
A number of editors are having difficulty with the creation of geographic records, following the implementation of the OFI.

**Problem**
Editors are encouraged to start creating metadata records before resources have been configured for download.  However, the OFI only auto-creates resources with object names that have been configured for download.

Current workflow
When an editor is creating a dr

[2017-04-05 21:36] Mbrownshoes commented on #312
@ll911 @dkelsey a further question is how should the OFI resources get created. It would be nice to have a job that ran nightly and populated resources for objects that have been configured, but there should still be this button on the manage resource page:

<img width="518" alt="screen shot 2017-04-05 at 2 30 05 pm" src="https://cloud.githubusercontent.com/assets/3362533/24727980/f0bafc02-1a0c-11

[2017-04-06 17:10] jrods commented on #287
This was committed to core ckan, not sure if it will be in version 2.7 thou

[2017-04-06 17:49] Mbrownshoes commented on #306
@dkelsey @ll911 how about just 'CSV Resource' or 'CSV Resource - Additional Information'?

[2017-04-06 18:05] jrods commented on #311
What about geographic datasets that don't have a object name? I know there's issue #312 that some what address this, but for this bulk update, should it just create OFI resource even if there is no object name? @Mbrownshoes

[2017-04-06 20:19] Mbrownshoes commented on #311
@jrods, no, OFI resources should only be created when 1) there is an object name filled in and 2) the object name has been configured for download (which is how it works now).

[2017-04-06 20:25] jrods commented on #311
@Mbrownshoes what do you mean 'object name has been configured for download'? Is that referring to the status of what's returned when ckan calls `/security/productAllowedByFeatureType/`?

[2017-04-06 20:34] Mbrownshoes commented on #311
@jrods Yes. right now if an object name is populated but it has not been configured for download in DWDS the OFI objects aren't populated. You get an 'Object is not available, please contact your administrator.' message. Try this in delivery. This is the reason we have issue #312 - objects are not yet configured when the metadata records are created.

[2017-04-06 20:36] dkelsey commented on #306
Remove 'Additional Information...' please.

![screen shot 2017-04-06 at 1 17 57 pm](https://cloud.githubusercontent.com/assets/3906047/24774224/ff70179e-1acc-11e7-9ef5-614848f15397.png)
![screen shot 2017-04-06 at 1 26 40 pm](https://cloud.githubusercontent.com/assets/3906047/24774233/08e7d41a-1acd-11e7-9df2-a8d027678ab7.png)

@Mbrownshoes

[2017-04-06 20:50] Mbrownshoes commented on #306
But do we need to differentiate these from normal csv files that are uploaded to the catalogue and can be downloaded directly (and have preview and api availability)? I think it's good to have some sort of differentiation.

[2017-04-13 20:24] Mbrownshoes opened #313 "OFI orders for the entire province should not send a bounding box parameter."
When a user attempts to download a non-spatial BCDC dataset via an OFI resource the orders and failing to supply any data. This is because when an order is made the bounding box of the entire province is sent to the distribution service, and since the dataset does not contain a spatial component, no features are found within that bounding box.

For OFI orders made using the default full province v

[2017-04-18 17:23] Mbrownshoes commented on #312
@jrods I'm not seeing a 'Save Dataset' button at the bottom of the first page of the geographic create dataset page. Was this feature added?

[2017-04-18 17:25] jrods commented on #312
odd, can you show a screenshot? @Mbrownshoes

[2017-04-18 18:26] jrods commented on #311
@Mbrownshoes so with #314 merged, on cad it should be testable to try maybe like 10 or 20 geo datasets to populate via api calls. Here's a sample script in python, requires the `requests` library `pip install requests`:
[code]

[2017-04-19 18:15] dkelsey commented on #306
some ideas for differentiating these, add:
* `from DWDS`
* `in DWDS`
* `DWDS extraction`

[2017-04-19 18:19] Mbrownshoes commented on #306
DWDS is kind of cryptic. I don't think anyone knows what that is outside databc.
@gjlawran any ideas on how to differentiate these, or do we need to? I thought differentiation would be good since the UI for these ofi resources is quite different than a csv file uploaded to the filestore..

[2017-04-19 18:28] dkelsey commented on #312
@jrods, @Mbrownshoes and I were chatting about this.  We would like
 ![screen shot 2017-04-19 at 11 26 01 am](https://cloud.githubusercontent.com/assets/3906047/25195588/ed293a04-24f2-11e7-9318-bc035699b03b.png)
to say:  `Manage DWDS Resources`

[2017-04-19 18:41] jrods commented on #306
Maybe something like 'Order {format} Package'?

[2017-04-20 15:54] dkelsey commented on #312
@jrods only Geographic Datasets should be allowed to be created without resources.  All other record types should still require at least one resource.

[2017-04-21 20:12] dkelsey commented on #308
@Mbrownshoes I reviewed and edited a number of records in `CAD`, one for each record type.
I found that after my changes, wherever **Purpose**, **Data Quality**, and **Lineage Statement** were present, `MarkDown` works.

I looked in `CAT` and verified it does now work, _atm_.

[2017-04-25 20:17] dkelsey commented on #312
@jrods There's an issue with saving metadata records without resource.
The `Save Dataset` button on the first page of the Geographic Dataset creation process works correctly.
If you instead press the `Next: Add Data` button your are taken to the 'Add data to the dataset' page.
if you don't add data there is a `Previous` button.
When I click that i'm taken back to the previous page.
Now, clicking t

[2017-04-25 20:28] jrods commented on #312
@dkelsey the reason why that happens is because when you click the 'save dataset' button first, it creates the dataset. So when you go back, the dataset you just create doesnt get delete or anything, it still exists. Now when you click the 'save dataset' button again it goes the normal route because the dataset exists and uses the normal path for new datasets. This is because the new function that

[2017-04-25 20:58] dkelsey commented on #312
@jrods I don't imagine editors will proceed to the "add data page" and "go back" without adding a resource, with any regularity.  However, If they make an error or are confused and do so, there is nothing that indicates the record has been saved, and at that point they are caught in a loop where it appears they can't save the record or finish until they add a resource..   I'll leave it as is but I

[2017-04-25 21:44] jrods commented on #291
Producing RDF files from catalogue works. When adding the dcat ext to the configuration file, it has to be listed before the bcgov ext because of routing order for getting the RDF graph of a dataset.  eg.
[code]

To use the harvester feature of the dcat ext, it requires ckanext-harvest and redis to be installed in the env first.

I had some issues when trying to use the dcat's processor on the cli

[2017-04-26 16:26] Mbrownshoes opened #323 "Geographic draft records without resources should be viewable to branch editors."
related to #315
Now that draft geographic records can be saved without resources, we would like these records to be indexed and viewable to branch editors - similar to other draft records. This will allow editors to find the draft records they have created and continue working on them.
These records should appear here:
![screen shot 2017-04-26 at 9 26 18 am](https://cloud.githubusercontent.com/ass

[2017-04-27 00:00] gjlawran opened #324 "Publication date of a resource is invalid"
"Data Published" data field is displayed for a resource - and it is invalid.
![image](https://cloud.githubusercontent.com/assets/1154765/25462015/0f723c7e-2aa1-11e7-8896-ea95968004fe.png)

There is no way through the interface to add or modify a "Data Published" field - and the ones displayed for resources in this record are invalid - 1874.

https://catalogue.data.gov.bc.ca/dataset/bc-geological-s

[2017-04-27 00:47] gjlawran commented on #324
Data entry error - not a bug. Editor entered incorrect date via Data Currency/Update form. Closing ticket and advising editor.

[2017-04-27 00:47] #324 closed

[2017-05-01 15:51] Mbrownshoes opened #325 "remove kml format from geoview"
We are adding kml resources to geographic records, but since they are network links are wrappers for wms calls to be used in Google Earth they don't show in the preview and all the user sees is a map preview zoomed out to shoe the entire earth. Please remove kml in the ini from this line.

ckanext.geoview.ol_viewer.formats = wms **kml** wfs gft
@ll911 so we need @jrods to make this change to the d

[2017-05-05 22:06] gjlawran opened #327 "Make it easier to discover the catalogue API"
As a product owner I want it to be easy for developers to discover and use the API that the catalogue makes available so that they are more likely to leverage the catalogue.  I like the way the UK government has done this in their UI extension.  See for example https://data.gov.uk/dataset/child-poverty
![image](https://cloud.githubusercontent.com/assets/1154765/25765906/4f6f87fa-31a4-11e7-87a2-6f1

[2017-05-15 21:09] #287 closed

[2017-05-15 21:12] Mbrownshoes commented on #287
I believe this issue became resolved when we moved to leaflet.js 0.7.7

[2017-05-15 21:44] gjlawran opened #328 "Create mockup to UX test concept of multiple orders"
Develop a  UI that has an add to cart option to the resource preview/download button and a cart count that can call the POW with items that have been added to a cart.

[2017-05-15 21:46] gjlawran opened #329 "Create a mock UI that presents iMapBC view download for resource button."

[2017-05-15 22:44] Mbrownshoes opened #330 "Investigate what would be involved in implementing the scheming extension"
https://github.com/ckan/ckanext-scheming

[2017-05-15 22:53] Mbrownshoes opened #331 "Investigate implementing table schema"
We would like users to provide a schemas for resources uploaded to the BCDC. They should be able to provide their own schema in json or have a tool  predict what the schema is - similar to what messy tables does when a csv is pushed to the data store.

http://specs.frictionlessdata.io/table-schema/

[2017-05-15 23:01] Mbrownshoes commented on #330
@gjlawran should this also involve moving to a single schema type?

[2017-05-15 23:05] Mbrownshoes commented on #306
@dkelsey @gjlawran shall we just leave the name as the resource type:
'csv resource'
or
'Access csv'
?

[2017-05-16 19:11] jrods commented on #323
@Mbrownshoes  @gjlawran Is there any reason for datasets to have their state set to 'draft'? (not edc_state)
If a dataset's state is 'active', then it can be indexed to be viewable on the branch organization view.

Continuing with #315 i can have those datasets that are saved to have an 'active' state when created.

[2017-05-17 17:43] Mbrownshoes commented on #323
@jrods is the only time  'state' = 'draft' when a record doesn't have a resource? Seems that way as draft records with resources have states of active. If that is the case than yes, let's make the save active when you save it without a resource.

[2017-05-17 17:45] jrods commented on #323
@Mbrownshoes yes that is the case, I can submit a PR to have resource-less datasets be set to active when saved

[2017-05-17 18:52] jrods commented on #323
@Mbrownshoes I've tested in cad, the datasets are now active when saving a dataset without resources, but it doesn't show in the org branch list, how often does solr re-optimize?

@ll911

[2017-05-17 18:58] ll911 commented on #323
It doesn’t get re-optimize in CAD. It’s on demand.

From: Jared Smith <notifications@github.com>
Reply-To: bcgov/ckanext-bcgov <reply@reply.github.com>
Date: Wednesday, May 17, 2017 at 11:52 AM
To: bcgov/ckanext-bcgov <ckanext-bcgov@noreply.github.com>
Cc: "Lou, Leo JTST:EX" <Leo.Lou@gov.bc.ca>, Mention <mention@noreply.github.com>
Subject: Re: [bcgov/ckanext-bcgov] Geographic draft records withou

[2017-05-17 20:47] Mbrownshoes commented on #323
@jrods I indexed a record I just created without a resource and it is visible to branch editors

[2017-05-25 21:38] dkelsey commented on #306
@Mbrownshoes  and I were discussing this.

We arrived at the following:

**ArcView Shape** - _from Geographic Warehouse_
**CSV** - _from Geographic Warehouse_
**GeoJSON** - _from Geographic Warehouse_
**ESRI File Geodatabase** - _from Geographic Warehouse_

- The  _from Geographic Warehosue_ indicates to users where the file is coming from.  The contributes to the M.O.W. making sense.
- It also me

[2017-05-26 00:47] dkelsey commented on #285
**We feel we have a resolution to this. **

_NOTE: this is an edited version of the update email I sent out_

Mat added the mental-health resource to a record in CAT.
He also updated the broker (in PROD) to utilized this resource in CAT.
The motivation was that "we've never experienced the locking issue in CAT"
it turns out CAT has more verbose logging configured than PROD and this proved useful.

[2017-05-29 21:04] dkelsey commented on #285
I fixed a bug that would crash the broker if `:8080/search.html` were requested.

[2017-05-30 17:39] jrods commented on #306
I tested in cad, it's now using the new name.

[2017-05-30 20:56] Mbrownshoes opened #336 "Turn off the dataproxy so external resources are not previewed"
The data proxy is not actively maintained https://github.com/okfn/dataproxy and is unreliable. As such we would like to turn off the data proxy and data explorer preview for external resources. If a csv is file is stored externally there would be no preview at all (similar to internal xlsx files).

[2017-05-30 21:04] Mbrownshoes opened #337 "remove 'external link' text next to resource name of external resources"
Currently resources that are stored outside the filestore have external link next to the resource name e.g.
ArcView Shape - from Geographic WarehouseArcView Shape (external link)
We would like to remove this for these resources. For resources in the filestore the size of the file should still appear.

[2017-05-30 21:30] Mbrownshoes opened #338 "remove the url link on geographic record resources"
The url on geographic resources sends users to the mow and cannot be copied and used to download a file directly, as it can for filestore resources. Thus, for these resources we would like to completely remove this link to remove a source of potential confusion.

![screen shot 2017-05-30 at 2 26 11 pm](https://cloud.githubusercontent.com/assets/3362533/26605848/78adf968-4544-11e7-8624-ad712beae590

[2017-05-31 15:33] Mbrownshoes opened #339 "Incorporate recent ckan patches"
http://docs.ckan.org/en/ckan-2.5.5/changelog.html

[2017-06-05 16:52] dkelsey commented on #311
The api works to create the OFI resources.
I did some analysis in `CAD`, `TEST` and `PROD`.

## Issues:

* `resource_update_cycle` is a mandatory field.  I figured out that a best guess at what to set is to look at that setting for existing resources.
* there are sets of records that already have OFI resources generated.  These will have to be re-generated (delete then create)

I created reports o

[2017-06-05 16:53] dkelsey commented on #311
@Mbrownshoes  should this be moved to 1.6.6?

[2017-06-05 18:29] Mbrownshoes opened #343 "Change 'Manage OFI Resources' button label"
Let's remote the OFI reference.

![screen shot 2017-06-05 at 11 28 02 am](https://cloud.githubusercontent.com/assets/3362533/26797576/3079d0b6-49e2-11e7-9b14-9cc54987e8de.png)

Was thinking we could label the button as:
'Manage Geographic Warehouse Resources' but if that's too long it could be
'Manage BCGW Resources'
@ll911 @dkelsey

[2017-06-06 23:07] Mbrownshoes opened #345 "page view tracking not working as expected"
The ckan api changed so that in order to see tracking info you must include 'include_tracking=True' to the package_show or resource_show call.

On the demo site tracking_summary is shown (http://demo.ckan.org/api/3/action/package_show?id=newcastle-city-council-payments-over-500&include_tracking=True)

but it's not on our site

https://catalogue.data.gov.bc.ca/api/3/action/package_show?id=f8e27889-

[2017-06-08 15:54] kfishwick commented on #338
@h3devin  can you please provide analysis for this?

[2017-06-08 17:23] h3devin commented on #338
@kfishwick This should be a simple change - just need to tweak the resource read template and hide the URL when the package type is Geographic.

[2017-06-08 17:25] jrods commented on #338
FYI, the datasets that have OFI resources, will have a param called 'ofi', you can use this param to do an if statement in templates for OFI specific resources.

[2017-06-08 19:11] dkelsey commented on #308
I created the following dataset:

https://cat.data.gov.bc.ca/Geographic/bathymetric-maps-of-surveyed-lakes

Markdown works in the **Purpose**, **Data Quality** and **Lineage Statement**.

[2017-06-08 19:59] dkelsey commented on #343
Looks fine in TEST.

[2017-06-08 22:11] dkelsey commented on #323
I created a Geographic Dataset without a resource
https://cat.data.gov.bc.ca/dataset/testing-geographic-dataset-with-no-resource-dk
Mat created one in the demo:
https://cat.data.gov.bc.ca/dataset/show-and-tell

Both are visible to members of the organization, though both have no resources.

[2017-06-08 22:22] dkelsey commented on #311
Added the script, as-is, to comments at the bottom of `fix_ofi_resources.py` in [dkelsey/python](https://gogs.data.gov.bc.ca/dkelsey/python_ckan)

[2017-06-08 22:31] dkelsey commented on #285
This was an issue triggered by the broker.  The fix was completed (adding a `/health` endpoint that simply returned `http 200`)
This drastically reduced the potential of the resource lock issue but does not eliminate it.  I'll suggest that the root of the problem is that reading from the datastore locks the resource and uploading (deleting and adding) does not check for a lock and blocks locking t

[2017-06-12 16:37] Mbrownshoes opened #346 "turn off kml preview for kml resources"
All geographic records will have kml resources automatically added. the resource is a loader file for which the geo view preview doesn't work:
e.g.
https://openmaps.gov.bc.ca/kml/geo/layers/WHSE_WATER_MANAGEMENT.GW_AQUIFERS_CLASSIFICATION_SVW_loader.kml

Since the preview doesn't work we're thinking of turning off the preview for all kml resources. The impact of course will be that kml resource th

[2017-06-12 17:53] kfishwick commented on #313
@Mbrownshoes  please confirm that aoi type of 0 and null coordinates will mean "return the entire province" if the dataset is spatial and "return everything" if the dataset is non-spatial.

[2017-06-12 17:56] #212 closed

[2017-06-12 18:12] #96 closed

[2017-06-12 18:12] #210 closed

[2017-06-12 18:14] #217 closed

[2017-06-12 18:19] #222 closed

[2017-06-12 18:20] #192 closed

[2017-06-12 18:20] #264 closed

[2017-06-12 18:20] #213 closed

[2017-06-12 18:21] #197 closed

[2017-06-12 18:21] #199 closed

[2017-06-12 18:21] #276 closed

[2017-06-12 18:21] #281 closed

[2017-06-13 17:01] #203 closed

[2017-06-14 15:50] dkelsey commented on #308
I looked at this in PROD and it works correctly.
The metadata record brought this bug to our attention was: https://catalogue.data.gov.bc.ca/dataset/bathymetric-maps-of-surveyed-lakes
Don Philip contacted us regarding this.  I've emailed him informing him that MD in all fields now works correctly.

[2017-06-14 15:50] #308 closed

[2017-06-14 15:55] dkelsey commented on #343
I reviewed a DRAFT record https://catalogue.data.gov.bc.ca/dataset/child-care-map-data

[2017-06-14 15:57] #343 closed

[2017-06-14 16:23] dkelsey commented on #323
I created a dataset without a resource:

https://catalogue.data.gov.bc.ca/dataset/testing-1-6-5-release-dk

after 10 mins it was indexed and visible when logged in as another member of JTST. (dbcuser2)

[2017-06-14 16:23] #323 closed

[2017-06-14 16:28] dkelsey commented on #312
Creation of Geographic Datasets works.  I created the following without a resource.

https://catalogue.data.gov.bc.ca/dataset/testing-1-6-5-release-dk

[2017-06-14 16:28] #312 closed

[2017-06-14 16:45] dkelsey commented on #337
I looked at this using all 4 different metadata recordset types.
* for existing and new OFI resources _(from Geographic Warehouse)_ appears
* for files, such as CSV . _(file size)_ eg _(118.1 KiB)_
* all else, nothing appears

[2017-06-14 16:45] #337 closed

[2017-06-14 16:47] dkelsey commented on #285
Tues June 13, Mat performed and update of the resource for Mental-Health.
The resource did not lock.

[2017-06-14 16:47] #285 closed

[2017-06-14 16:49] dkelsey commented on #306
I created a new Geographic dataset and added OFI resources.
They are name as described above.

[2017-06-14 16:49] #306 closed

[2017-06-14 18:50] jrods commented on #336
@Mbrownshoes can you provide some example resources that are doing this?

[2017-06-14 18:53] jrods commented on #336
My understanding is that Dataproxy is a service you have to setup with google app engine.
CSV files that are external, for example, should be using the datastore api.

@ll911 do you know anything about Dataproxy being used in cad, cat or prod?

[2017-06-14 20:03] jrods commented on #336
It looks like the recline.js in ckan uses a hardcoded url to jsonpdataproxy.appspot.com

[2017-06-14 22:56] jrods commented on #313
@Mbrownshoes PR #347 is in cad now, will you be able to confirm that the payload being sent for orders are in fact non-spatial in DWDS?

[2017-06-14 23:17] jrods commented on #231
I can verify that there is no difference for both desktop and mobile and the reference can be remove for bootstrap.min.css.

[2017-06-15 18:31] jrods commented on #231
@ll911 What branch is being used in cad for ckanext-geoview?

i just merged my changes to the geoview ext, but they're not working.

[2017-06-16 16:53] ll911 commented on #231
@jrods https://gogs.data.gov.bc.ca/bcdc/deployment/src/master/cad/Jenkinsfile#L11

[2017-06-16 16:54] ll911 commented on #346
@Mbrownshoes when do you need to turn it off? did you send the comms out?

[2017-06-16 16:55] jrods commented on #231
@ll911 why is the ckanext-geoview using the 0.0.12-bcgov branch as the default? it should be set to master if jenkins uses the master branch.

[2017-06-16 16:57] ll911 commented on #231
@jrods it was pinned version since we were ahead of the origin, if origin has merged our changes, we can switch back, can you confirm that?

[2017-06-16 16:59] ll911 commented on #231
@jrods you can change src `https://github.com/bcgov/ckanext-geoview` to `https://github.com/ckan/ckanext-geoview` in [Jenkinsfile](https://gogs.data.gov.bc.ca/bcdc/deployment/src/master/cad/Jenkinsfile#L11)

[2017-06-16 16:59] jrods commented on #231
@ll911 origin will always be behind, i think it would be better to have jenkins use 0.0.12-bcgov branch instead

[2017-06-16 17:01] ll911 commented on #231
@jrods sure, you can change that part in the same place.

[2017-06-16 17:08] kfishwick commented on #339
I just want to confirm our patch approach:
 - H3 will pull in changes from ckan v 2.5.5 to https://github.com/HighwayThree/ckan
 - H3 will perform merge conflicts, review modifications (we have custom changes in ckan core to support mime type & resource file sizes - we need to make sure we retain these modifications)
 - H3 will do a PR to bcgov/ckan
 - H3 will do a manual deploy

@ll911  and @Mbro

[2017-06-16 17:15] ll911 commented on #339
@kfishwick once you merge the [bcgov/ckan](https://github.com/bcgov/ckan], you can update [Jenkinsfile](https://gogs.data.gov.bc.ca/bcdc/deployment/src/master/cad/Jenkinsfile#L6) to update the ckan core brancn, then [build this](https://cis.data.gov.bc.ca/job/bcdc/job/BCDC/).

[2017-06-16 17:43] jrods commented on #231
@Mbrownshoes cad has now been update with these changes, bootstrap.min.css is no longer referenced

[2017-06-16 22:49] jrods commented on #336
@Mbrownshoes so there's no 'Off' switch for dataproxy. What happens is some resource views, for example, use the recline view. In ckan, if the resource has datastore_active set to false, the js module that renders the resource view, tries to use dataproxy.

One option is like we do for xlsx resources, not display the resource preview for resources that have a size of 0 or datastore_active set to f

[2017-06-16 22:52] ll911 commented on #336
@Mbrownshoes @jrods dataproxy is bundled in ckan and hardcoded in ckan core using https://github.com/okfn/dataproxy hosted by GCE

[2017-06-16 22:58] jrods commented on #336
@ll911 dataproxy is not a module of ckan, compared to something like datastore or resource_proxy, it's only referenced in js code, from my analysis.

[2017-06-16 22:59] ll911 commented on #336
@jrods yup, it's not a module of ckan but external api that recline view use.

[2017-06-19 18:33] jrods commented on #339
@Mbrownshoes cad has now been updated with ckan 2.5.5 patches

[2017-06-19 19:03] ll911 commented on #339
@jrods where is the pull request for ckan core change? https://github.com/bcgov/ckan/pulls, i created the branch, but did not see pull for 2.5.5

[2017-06-19 19:35] kfishwick commented on #336
@Mbrownshoes  and @ll911  we are looking still for your feedback to these comments:
"One option is like we do for xlsx resources, not display the resource preview for resources that have a size of 0 or datastore_active set to false. But the problem i can think of with this option is if the resource preview doesn't rely on the datastore at all and is an external resource, but still has some sort of

[2017-06-19 20:14] Mbrownshoes commented on #336
@kfishwick @ll911 @dkelsey Sounds like we turning it off id datastore_active = false works. We know this will disable some previews that work for external resources, which is fine. We don't like the inconsistency of it only sometimes working for these resources. We'd rather they upload their data to the filestore

[2017-06-19 21:35] Mbrownshoes commented on #313
@jrods this seems to be working. We can order non-spatial resources.

[2017-06-26 18:39] Mbrownshoes commented on #346
@ll911 @kfishwick  will disable in cad now by modifying ini file. Think a restart may be required.

[2017-06-26 20:47] Mbrownshoes commented on #346
@ll911 does the ini need to be manually changed for cat as well?

[2017-06-26 21:31] dkelsey opened #353 "'organization_list_related' not using 'organizations' parameter"
I encountered a bug where passing a list of organization names to `organization_list` does not result in just those organizations being returned in the results.

***Steps***

1.  Make the following request:
https://catalogue.data.gov.bc.ca/api/3/action/organization_list?organizations="bc-film-commission","city-of-surrey"&all_fields=1

***Expected***
[code]

***Actual:***
[code]
@Mbrownshoes

[2017-06-26 21:49] dkelsey commented on #353
The list of organizations can be a list like:

[code]
or
[code]

[2017-06-26 22:03] dkelsey commented on #353
The issues also occurs in `organization_list` in [bcgov/ckan](https://github.com/bcgov/ckan)

[2017-06-26 22:09] jrods commented on #353
`all_fields` is a boolean, so it might not expect a 1 or 0 for true or false (have to look in code), but try `true` instead `1` and see if it returns what you want.

[2017-06-27 17:52] dkelsey commented on #353
[https://cad.data.gov.bc.ca/api/3/action/organization_list?organizations=["bc-film-commission","city-of-surrey"]](https://cad.data.gov.bc.ca/api/3/action/organization_list?organizations=["bc-film-commission","city-of-surrey"])

now returns
[code]

[https://cad.data.gov.bc.ca/api/3/action/organization_list?organizations=["bc-film-commission","city-of-surrey"]&all_fields=1](https://cad.data.gov.bc.c

[2017-06-27 18:14] Mbrownshoes commented on #346
@ll911 can you update the cat ini to remove the kml preview

[2017-06-28 22:33] Mbrownshoes commented on #346
@ll911 interesting, it seems kml resources have to be re-added (remove and then add link) in order for the preview to disappear.

[2017-06-29 16:39] Mbrownshoes opened #356 "inconsistencies and problem with recline_map_view preview"
The background tiles appear to have changed to stamen map tiles on cat and the ckan demo site but not in cad. Why would cat and cad be different? I didn't notice anything different in the ini files..

As mentioned cat and the demo site have the same map preview, although the markers are not showing properly on cat
![screen shot 2017-06-29 at 9 08 27 am](https://user-images.githubusercontent.com/33

[2017-06-29 16:48] Mbrownshoes commented on #356
Looks like a leaflet issue

![screen shot 2017-06-29 at 9 48 08 am](https://user-images.githubusercontent.com/3362533/27699732-1807090a-5cb0-11e7-9273-cddc2031bbca.png)

[2017-06-29 16:54] ll911 commented on #356
Wrong resource URL

https://cat.data.gov.bc.ca/vendor/leaflet/0.7.7/images/marker-shadow.png
https://cat.data.gov.bc.ca/vendor/leaflet/0.7.7/images/marker-icon.png

[2017-06-29 16:54] jrods commented on #356
what version of ckan is running on cat? cad is running the bcgov-2.5.5 branch now

[2017-06-29 16:58] ll911 commented on #356
2.5.5-bcgov
https://cis-delivery.apps.gov.bc.ca/int/job/bcdc-src-download/100/git-6/

From: Jared Smith <notifications@github.com>
Reply-To: bcgov/ckanext-bcgov <reply@reply.github.com>
Date: Thursday, June 29, 2017 at 9:54 AM
To: bcgov/ckanext-bcgov <ckanext-bcgov@noreply.github.com>
Cc: "Lou, Leo JTST:EX" <Leo.Lou@gov.bc.ca>, Mention <mention@noreply.github.com>
Subject: Re: [bcgov/ckanext-bcgov

[2017-06-29 17:10] jrods commented on #356
Looks like the issue is the recline_view.min.js file still using the 0.7.3 path for those images, I'll have to submit a PR to both bcgov fork and ckan core with a fix

[2017-06-29 17:17] jrods commented on #356
Hold up, recline_view.min.js doesn't exist in the bcgov fork or ckan core. (in ckan: ckanext/reclineview/theme/public/recline_view.min.js)
I'm confused on why this is.
@ll911

[2017-06-29 18:37] jrods commented on #356
@Mbrownshoes @ll911 in cat's ini, are there reclineview.mapview options set? eg: `ckanext.reclineview.mapview.type = mapbox`

[2017-06-29 18:42] Mbrownshoes commented on #356
ckanext.reclineview.mapview.type = mapbox
odd..

[2017-06-29 18:45] ll911 commented on #356
that's not odd, we are using osm base from mapbox for recline viewer. default mapquest base discontinued when mapquest disabled the public api.

[2017-06-29 18:47] Mbrownshoes commented on #356
but the actual preview isn't showing mapbox, or the mapbox attribution that is in the ini
ckanext.reclineview.mapview.attribution=Â© <a target=_blank href='https://www.mapbox.com/map-feedback/'>Mapbox</a> Â© <a target=_blank href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>

[2017-06-29 18:47] jrods commented on #356
@ll911 it's odd that my local and cat both specify mapbox in their ini, yet my local env is using the correct tiles, while cat is not.

[2017-06-29 18:49] dkelsey opened #357 "HTTP 500 generated when non-truthy or non-falsy values set for 'all_fields' parameter."
_this issue is in_ [bcgov/ckan](https://github.com/bcgov/ckan)

**When I make the request:**
[https://cad.data.gov.bc.ca/api/3/action/organization_list?organizations="bc-film-commission","city-of-surrey"&all_fields=tr](https://cad.data.gov.bc.ca/api/3/action/organization_list?organizations="bc-film-commission","city-of-surrey"&all_fields=tr)

**Expected:**
[code]
**Actual:**
![http500](https://use

[2017-06-29 18:52] jrods commented on #357
@dkelsey in your linked url, you have `all_fields=tr`, using `all_fields=t` works

[2017-06-29 18:56] dkelsey commented on #357
correct.  `tr` is a non-truthy non-falsy string that generates an HTTP 500.  I spoke with @ll911 about this.  We want to avoid `HTTP 500` errors.

[2017-06-29 19:33] dkelsey commented on #357
I created a pull reqest: [ #18]( https://github.com/bcgov/ckan/pull/18)

[2017-06-29 19:36] dkelsey commented on #353
Uncovered another issue in testing : [357](https://github.com/bcgov/ckanext-bcgov/issues/357).
Tested this and it works.

[2017-06-29 20:01] dkelsey commented on #339
@kfishwick  I've run automated tests agains TEST.  Are there some specific test that can be done to verify we have not missed anything?

[2017-06-29 20:13] dkelsey commented on #231
@kfishwick @jrods @ll911
 What is the test case?

Is it simply:

PROD version gets the bootstrap.css error:
[https://catalogue.data.gov.bc.ca/dataset/tantalis-regional-districts/resource/ad41d2be-4df2-44ad-af95-570a15781a52](https://catalogue.data.gov.bc.ca/dataset/tantalis-regional-districts/resource/ad41d2be-4df2-44ad-af95-570a15781a52)

TEST version doesn't:
[https://cat.data.gov.bc.ca/dataset/

[2017-06-29 22:46] dkelsey opened #358 "COALFILE is listed first in search results when sorting by popularity."
## Details:
The` COALFILE` resource was downloaded many (thousands of) times in a period before Nov 2015.
The 'Popularity' search ranking is determined by `tracking` internal to CKAN – the `tracking` `paster` command specifically : `paster --plugin=ckan tracking update -c /~/~/config.ini` in jenkins.

* Daily the stats are updated with the call `paster tracking update`
* This uses two tables: `tra

[2017-06-29 22:46] dkelsey opened #359 "COALFILE shows up a a large spike on the resource status page."
## Details:
The` COALFILE` resource was downloaded many (thousands of) times in a period before Nov 2015.
The stats ranking is determined by [ckanext-ga-report](https://github.com/bcgov/ckanext-ga-report) and data downloaded from Google Analytics.

* Stats ranking in [ckanext-ga-report](https://github.com/bcgov/ckanext-ga-report) is updated nightly when the catalogue is backed-up and restarted in

[2017-06-29 23:39] Mbrownshoes commented on #358
@dkelsey I think we should show the last 12 months and apply a filter to remove crazy spikes. These spikes aren't subtle so the filter can be quite a high value.

[2017-06-29 23:40] Mbrownshoes commented on #359
Also a filter here. I don't mind all time in the 'all month's fields since you can also view/download individual months.

[2017-06-29 23:48] dkelsey commented on #358
@Mbrownshoes  I put the date in for completeness.  I'll use a 12 month window.

[2017-06-29 23:54] dkelsey commented on #359
@Mbrownshoes I got distracted writing this up.  I changed it so that `All'` is not modified.  We can add a `Last-12-months` query and set that as the default for the presentations.
Figuring out a filter to apply would be next.

[2017-06-29 23:56] Mbrownshoes commented on #358
Are the hits by hour or day? If day then, if > someunrealisticvalue (100?) then fill with the previous and following 5 day average, or something like that? Could even fill with previous days values..

[2017-07-05 20:57] ll911 commented on #356
@jrods it has wrong tile because cat references leaflet-0.7.3 resources instead of 0.7.7

[2017-07-05 23:12] ll911 commented on #356
@jrods @dkelsey should be fixed. this is related to old cache, you can see new deployment instruction via [Jenkins PIPELINE](https://gogs.data.gov.bc.ca/bcdc/deployment/src/master/cat/Jenkinsfile)

[2017-07-06 00:27] ll911 commented on #336
@Mbrownshoes @jrods @banders @dkelsey  this seems disabled the remote resource view which required by API console when source are hosted in Github
[CAT not working](https://cat.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/a15a8dcf-a5c6-445d-9538-138b0adfec4c)
[PROD working](https://catalogue.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/40d6411e-a

[2017-07-07 18:14] ll911 opened #360 "API console not working for remote resources"
API console when source are hosted in Github, see following
[CAT v1.6.6 not working](https://cat.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/a15a8dcf-a5c6-445d-9538-138b0adfec4c)
[PROD v1.6.5 working](https://catalogue.data.gov.bc.ca/dataset/physical-address-geocoding-web-service/resource/40d6411e-ab98-4df9-a24e-67f81c45f6fa)
both using remote resource from https://raw.g